table{
	margin-top: 1%;
}

ul{
	list-style: none !important;
	margin: 0;
	padding: 0;
}

form{
	float: left;
	width: 100%;
}

/*form input[type=text],
form label{
	display: block;
}*/

select{
	width: auto !important;
}

input[type=submit]{
	display: block;
}

label{
	text-transform: capitalize;
}

/*input[type=text],
input[type=number],
input[type=email]{
	padding: 0.6%;
}*/

em{
	font-size: 120%;
}

.size1-4{
	width: 19%;
}

.size1-3{
	width: 30%;
}

.size1-2{
	width: 48%;
}

.error{
	color: #e9322d;
}

.line,
.line-2,
.line-3,
.line-4{
	float: left;
	width: 100%;
}

	.line > div,
	.line-2 > div,
	.line-3 > div,
	.line-4 > div{
		float: left;
		margin-right: 1%;
	}
	
		.line-2 > div:last-child,
		.line-3 > div:last-child,
		.line-4 > div:last-child{
			margin-right: 0%;
		}

	.line-2 > div{
		width: 50%;
	}

	.line-3 > div{
		width: 30%;
	}

	.line-4 > div{
		width: 17%;
	}

.listing ul{
	float: left;
	width: 100%;
}

	.listing li{
		width: 45%;
		min-height: 160px;

		padding: 1.5%;
		margin-right: 1%;
		padding-bottom: 0.7%;
		cursor: pointer;

		-webkit-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Chrome */
		-moz-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Firefox 4 */
		-ms-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* IE */
		-o-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Opera */
		transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s;
	}

	.listing li:hover{
		border-radius: 5px;
		box-shadow: 0 0 12px 3px #D0D1D1; /* #d14836 #668BE6;*/
	}

	.listing li,
	.listing li > *{
		float: left;
	}

	.listing img{
		width: 202px;
		height: 148px;
	}

	.listing h3{
		padding: 9% 0 0 7%;
	}

	#tablePrice td{
		text-transform: capitalize;
	}

/*
	Trip page
*/

#trips li:hover{
	background-color: #3679c5; /*#2679b5;*/
}

	#trips li:hover h3{
		color: whiteSmoke;
	}

	#trips li h3{
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		-ms-transition: color 0.3s;
		-o-transition: color 0.3s;
		transition: color 0.3s;
	}

/*
	Booking page
*/

#bookings li h3{
	padding-top: 0;
	float: none;
}

#bookings img,
.calendarWrap{
	float: left;
}

.calendarWrap{
	margin-left: 2%;
}

.price{
	color: #777;
}

.calcTotal{
	margin-left: 2%;
}

#totalVehicle{
	float: left;
	margin-top: 2.8%;
	margin-left: 0;
}

#totalISK:after,
.calcTotal:after{
	content: ' ISK';
}

#totalISK{
	color: #87b87f;
	font-weight: bold;
	font-size: 140%;
}