body,
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-family: 'Cabin', Arial, tahoma, sans-serif !important;
}
a {
	cursor: pointer;
	cursor: hand;
}
body:after{
	
}

.ui-datepicker-current-day a{
	background-color: orange !important;
}

table{
	margin-top: 1%;
}

ul{
	list-style: none !important;
	margin: 0;
	padding: 0;
}

em{
	font-size: 120%;
}

form{
	float: left;
	width: 100%;
}

label{
	font-family: arial, helvetica, sans-serif;
	text-transform: capitalize;
}

label.required{
	font-weight: bold;
}

label.required:after{
	content: '*';
}

select{
	width: auto !important;
}

input[type=submit]{
	display: block;
}

label{
	font-weight: bold;
	text-transform: capitalize;
}

label.required:after{
	content: '*';
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea{
	width: 80%;
	/*padding: 2%;*/
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select{
	/*border-radius: 5px !important;*/

	-webkit-transition: border-color 0.4s;
	-moz-transition: border-color 0.4s;
	-ms-transition: border-color 0.4s;
	-o-transition: border-color 0.4s;
	transition: border-color 0.4s;
}

/*
	Classes
*/

.imgListsBoatTrip{
	max-width: 200px;
	max-height: 150px;
	min-width: 100px;
	min-height: 75px;
}
.productImage{
	max-width: 200px;
	max-height: 200px;
}

.custom-colorize {
	font-size: 15px;
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid;
}

.custom-colorize-changer {
	font-size: 10px;background-color: orange !important;
	position: absolute;
	right: 0;
	bottom: 0;
}


.ui-datepicker-calendar td a.isFull{
	background-color: orange !important;
}

.size1-4{
	width: 19% !important;
}

.size1-3{
	width: 30% !important;
}

.size1-2{
	width: 48% !important;
}

.line,
.line-2,
.line-3,
.line-4{
	float: left;
	width: 100%;
	margin-bottom: 2%;
}

	.line > *,
	.line-2 > *,
	.line-3 > *,
	.line-4 > *{
		float: left;
		margin-right: 1%;
	}
	
		.line-2 > *:last-child,
		.line-3 > *:last-child,
		.line-4 > *:last-child{
			margin-right: 0%;
		}

	.line-2 > *{
		width: 48%;
	}

	.line-3 > *{
		width: 30%;
	}

	.line-4 > *{
		width: 17%;
	}

.listing ul{
	float: left;
	width: 100%;
}

	.listing li{
		width: 45.5%;
		min-height: 160px;

		padding: 1.5% 1.5% 0.7%;
		margin-right: 1%;
		margin-bottom: 1%;
		cursor: pointer;

		border: solid 1px #CCC;
		border-radius: 10px;
		-webkit-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Chrome */
		-moz-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Firefox 4 */
		-ms-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* IE */
		-o-transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s; /* Opera */
		transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s;
	}

	.listing li:hover{
		border-radius: 5px;
		box-shadow: 0 0 12px 3px #D0D1D1; /* #d14836 #668BE6;*/
	}

	.listing li,
	.listing li > *{
		float: left;
	}

	.listing img{
		width: 48%;
		/*width: 245px;
		height: 188px;*/
	}

	.listing h3{
		padding: 9% 0 0 7%;
	}

.error{
	color: #e9322d;
}

	input.error,
	select.error{
		border-color: #e9322d;
	}

	.error + .popover{
		color: whiteSmoke;
		border-color: #d15b47;
		background-color: #d15b47;
	}

	.error + .popover .arrow:after{
		border-top-color: #d15b47 !important;
	}


/*
	Trip page
*/

#tripsSection li:hover{
	background-color: #3679c5; /*#2679b5;*/
}

	#tripsSection li:hover h3{
		color: whiteSmoke;
	}

	#tripsSection li h3{
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		-ms-transition: color 0.3s;
		-o-transition: color 0.3s;
		transition: color 0.3s;
	}

	.new{
		width: 35% !important;
		max-width: 145px;
	}

/*
	Boat
*/


/*
	Booking Detail
*/
	#tablePrice td{
		text-transform: capitalize;
	}

.divTable,
.divTable > div{
	float: left;
	width: 100%;

	margin-bottom: 2%;
}

	.divTable h4{
		float: right;

		margin-top: 1%;
		font-style: italic;
	}

	.divTable h3{
		float: left;
	}


/*
	Booking page
*/
	.formattedAsMoney{
		border: none;
		background-color: rgba(0,0,0,0) !important;
		color: #393939 !important;
		text-align: right;
		margin-top: -4px;
	}

	#bookings li h3{
		float: left;
		
		margin: 0;
		padding: 0;
	}

	#bookings li select{
		float: right;
	}

	#bookings li:hover .calendarWrap{
		visibility: visible;
	}

#bookings img,
.calendarWrap{
	float: left;
}

.calendarWrap{
	float: right !important;
	margin-top: -40px;
	/*visibility: hidden;*/
}

.price{
	color: #777;
}

.calcTotal{
	margin-left: 2%;
}


#totalISK:after,
.calcTotal:after{
	content: ' ISK';
}

.vehiclePrice:before{
	content: 'Vehicle Price: ';
}

#totalISK{
	color: #87b87f;
	font-weight: bold;
	font-size: 140%;
}


/*
	Voucher
*/

#voucher{
	margin-top: 2%;
}

#voucher h3{
	margin-bottom: 1%;
	font-style: italic;
	font-weight: lighter;
	text-shadow: 2px 1px 1px white;
}

#voucher p{
	font-size: 130%;
	font-weight: lighter;
	color: #555;
}

#bookingItems p{
	text-transform: capitalize;
}

.voucherTable{
	float: left;
	width: 100%;

	margin-bottom: 3%;

	border: solid 1px #999;

	font-size: 110%;
	text-align: center;
}

.voucherTable thead{
	background-color: #CCC;

	border: solid 1px #999;
}

/*
	Override
*/

.popover.top{
	margin-left: 2.5%;
}

.ui-datepicker-header,
.ui-datepicker-calendar td a{
	background: #3679c5 !important;
	color: whiteSmoke !important;
}

	.ui-datepicker-calendar td:hover a{
		background: #1659b5 !important;
	}

	.ui-datepicker-calendar td .ui-state-highlight{
		border: 2px solid #333;
	}

.datepicker-dropdown{
	max-width: 220px;
}

.dataTables_filter{
	margin-right: 0;
}

.dataTables_length,
.dataTables_info,
.dataTables_wrapper input[type=text],
.dataTables_wrapper select{
	margin: 0;
}

.paginate_disabled_next{
	padding-right: 0;
}

.twitter-typeahead{
	width:100%;
}

.twitter-typeahead input[type=text]{
	width: 80%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tr_red {
	background-color: red;
}

.tr_green {
	background-color: green;
}

#input-icon{
	padding-top: 3% !important;
}

#nav-search-input{
	width: 250px !important;
}

#nav-search-icon{
	padding-top: 3% !important;
}

.loginZone{
	margin-top: 3%;
	margin-right: 2%;
}
#loginArea {
	
	text-align: right;
	font-size: medium;
	text-decoration: none;
	box-shadow: 1px 1px 1px #888888;
	border: 1px solid #888888;
	background-color: white;
	padding-right: 30px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 10px;
	margin-top: 2px;
}

.orangeButton {
	color: white;
	padding: 6px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.2), inset 0 60px 40px -40px #ff9600, 0 1px 2px rgba(0, 0, 0, 0.27);
	border-top: 1px solid #ed7500;
	border-right: 1px solid #e16f00;
	border-bottom: 1px solid #d26800;
	border-left: 1px solid #e16f00;
	border-radius: 5px;
	background: #ff7e00;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 30%;
}
.orangeButton:hover {
	color: gray;
}

.divWrap {
	background: white;
}
.firstPage {
	position: relative;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;

}

.profile{
	color: white;
	text-transform: uppercase;
}


/*
	Media Query
*/

@media only screen and (max-width: 1300px) {
	.listing img{
		width: 35%;
		/*width: 245px;
		height: 188px;*/
	}
}


/*
	Media Print
*/

@media print {
	h1{
		text-align: center;
		font-size: 200% !important;
	}

	header{
		height: 0 !important;
		visibility: hidden;
	}

	img{
		visibility: visible !important;
	}

	#id-logo{
		left: 120%;
		top: 60%;

		visibility: visible !important;
	}

	input,
	button,
	#sidebar,
	#btn-scroll-up{
		display: none !important;
	}

	#main-content{
		margin: 0;
	}
}

