<template name='voucher'>
	<div class="page-header">
		<h1>Voucher</h1>
	</div>

	{{#with book}}

		<div class="alert alert-warning" style="font-size: 14px;
												border-radius: 0; 
												adding: 8px 35px 8px 14px;
												margin-bottom: 20px;
												text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
												background-color: #fcf8e3;
												border: 1px solid #fbeed5;
												-webkit-border-radius: 4px;
												-moz-border-radius: 4px;
												border-radius: 4px;">
       		<b>ATTENTION, PLEASE NOTE:</b>
       		You need to pick up your ticket from Seatours office (harbour front) at 
			least 30 minutes before departure.
	    </div>

	    <div id="voucher" class="line-3" style="float: left; width: 100%; margin: 2% 0;">
			<section style="float: left; margin-right: 1%; width: 30%;">
				<h3 style="margin-bottom: 1%; font-style: italic; font-weight: lighter; text-shadow: 2px 1px 1px white;">Address</h3>
				<p style="font-size: 130%; margin: 0 0 10px;">Smidjustigur 3 - 340 Stykkisholmur</p>
			</section>

			<section style="float: left; margin-right: 1%; width: 30%;">
				<h3 style="margin-bottom: 1%; font-style: italic; font-weight: lighter; text-shadow: 2px 1px 1px white;">Email</h3>
				<p style="font-weight: lighter; margin: 0 0 10px;">seatours@seatours.is</p>
			</section>

			<section style="float: left; margin-right: 1%; width: 30%;">
				<h3 style="margin-bottom: 1%; font-style: italic; font-weight: lighter; text-shadow: 2px 1px 1px white;">Phone:</h3>
				<p style="color: #555; margin: 0 0 10px;">354 433 2254</p>
			</section>
		</div>

		<table class="table table-striped table-bordered trable-hover" style="border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 100%;
margin-bottom: 20px;
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;">
			<thead>
				<tr style="color: #707070;
font-weight: normal;
background: #F2F2F2;
background-color: #f3f3f3;
background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ececec));
background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
background-image: -o-linear-gradient(top, #f8f8f8, #ececec);
background-image: linear-gradient(to bottom, #f8f8f8, #ececec);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);">
					<th>Booking ID</th>
					<th>Booking Date</th>
					<th>Booking Status</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{_id}}</td>				
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{dateOfBooking}}</td>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">Waiting Payment</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped table-bordered trable-hover" style="border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 100%;
margin-bottom: 20px;
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;">
			<thead>
				<tr style="color: #707070;
font-weight: normal;
background: #F2F2F2;
background-color: #f3f3f3;
background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ececec));
background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
background-image: -o-linear-gradient(top, #f8f8f8, #ececec);
background-image: linear-gradient(to bottom, #f8f8f8, #ececec);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);">
					<th>Full Name</th>
					<th>Full Address</th>
					<th>Contact Number</th>
					<th>Email Address</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{customer.fullName}}</td>				
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{customer.adress}}</td>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{customer.telephone}}</td>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{customer.email}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped table-bordered trable-hover" style="border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 100%;
margin-bottom: 20px;
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;">
			<thead>
				<tr style="color: #707070;
font-weight: normal;
background: #F2F2F2;
background-color: #f3f3f3;
background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ececec));
background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
background-image: -o-linear-gradient(top, #f8f8f8, #ececec);
background-image: linear-gradient(to bottom, #f8f8f8, #ececec);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);">
					<th>Items</th>
					<th>Total</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">
						{{#each prices}}
							{{prices}} - {{persons}} x {{perUnit}} = {{sum}} ISK
						{{/each}}
						<br />
						{{#if hasVehicles}}
							{{vehicle.category}} - {{vehicle.size}}m = {{vehicle.totalCost}} ISK
						{{/if}}
					</td>
					<td style="padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;">{{totalISK}} ISK</td>
				</tr>
			</tbody>
		</table>

	{{/with}}

	<button class="btn btn-success print" onclick="window.print()">
		Print
	</button>	
</template>
<!-- <div id="voucher">
	<div class="line-3">
		<section>
			<h3>Booking ID:</h3>
			<p>{{_id}}</p>
		</section>

		<section>
			<h3>Booking Date:</h3>
			<p>{{dateOfBooking}}</p>
		</section>

		<section>
			<h3>Booking Status:</h3>
			<p>Waiting Payment</p>
		</section>
	</div>

	<h2>Customer Details</h2>
	<hr>

	<div class="line-3">
		<section>
			<h3>Full Name:</h3> 
			<p>{{customer.fullName}}</p>
		</section>

		<section>
			<h3>Full Adress:</h3> 
			<p>{{customer.adress}}</p>
		</section>

		<section>
			<h3>Contact Number:</h3> 
			<p>{{customer.telephone}}</p>
		</section>

		<section>
			<h3>Email Adress:</h3> 
			<p>{{customer.email}}</p>
		</section>
	</div>

	<h2>Booking Items</h2>
	<hr/>

	<div class="line-3" id="bookingItems">
		<div>
			<h3>Items:</h3>
			{{#each prices}}
				<p>
					{{prices}} - {{persons}} x {{perUnit}} = {{sum}} ISK
				</p>
			{{/each}}

			{{#if hasVehicles}}
				<p>
					{{vehicle.category}} - {{vehicle.size}}m = {{vehicle.totalCost}} ISK
				</p>
			{{/if}}
		</div>

		<div>
			<h3>Total:</h3>
			<p>{{totalISK}} ISK</p>
		</div>
	</div>
</div> -->
<!-- <table>
		<thead>
			<th><b>Items</b></th>
			<th><b>Cost</b></th>
		</thead>
		
		<tbody>
			{{#each prices}}
				<tr>
					<td><label>{{persons}}# - {{prices}}</label></td>
					<td><label>{{persons}} X {{perUnit}} = {{sum}}</label></td>
				</tr>
			{{/each}}
			{{#if hasVehicles}}
				<tr>
					<td><label>{{vehicle.category}} - {{vehicle.size}}m</label></td>
					<td><label>{{vehicle.totalCost}}</label></td>
				</tr>
			{{/if}}
		</tbody>
		<tfoot>
			<tr>
				<td><label>sum</label></td>
				<td><label>{{totalISK}}</label></td>
			</tr>
		</tfoot>
</table> -->