<template name='bookCustomerDetailResume'>
	{{#with book}}
	<table class='table table-striped table-bordered trable-hover'>
		<thead>
			<tr>
				<th>Full Name</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>Adress</th>
				<th>City</th>
				<th>State</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{{customer.fullName}}</th>
				<th>{{customer.telephone}}</th>
				<th>{{customer.email}}</th>
				<th>{{customer.adress}}</th>
				<th>{{customer.city}}</th>
				<th>{{customer.state}}</th>
				<th>{{customer.country}}</th>
			</tr>
		</tbody>
	</table>
	{{/with}}
</template>