<template name='blockingDates'>
	<article>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#users">
				<i class="blue icon-umbrella bigger-110"></i>
					Blocked Dates
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class='line-2'>
				<div id="users" class="tab-pane in active">
					<fieldset id='fieldsetUser'>
						<legend>Blocked Dates<span>&nbsp;&nbsp;</span><i class='icon-umbrella'/></legend>
							<div class='line-2'>
								<div>
									<label class="required">Trip: </label>
										<select id="tripBlockDate" required>
											<option value="">Select..</option>
												{{#each trips}}
											<option value="{{_id}}">{{from}} - {{to}} - {{hour}}</option>
												{{/each}}
										</select>
								</div>
							</div>

							<div>
								<label class="required">Day: </label>
								<input type='text' id="dayBlocked" name="dayBlocked" class="datePicker size1-2">
							</div>


							<label class="required">Reason: </label>
							<textarea form="blockingDates" id="reasonBlock" rows="2" name="reason" style="resize: none;" />

							
							</fieldset>

							<input id="blockButton" type="submit" name="save" class="btn btn-danger btn-small" value="Block" />
					</div>
					<div>
						{{> blockRules}}
					<div>
					<div>
						{{> blockDatesList}}
					</div>

				</div>
				
			</div>


		</div>
    </article>
</template>

<template name='blockDatesList'>
	<fieldset>
		<legend>Blocked Dates<span>&nbsp;&nbsp;</span><i class='icon-calendar'/></legend>
		<table class='table table-striped table-bordered table-hover' id='blockedDateTable'>
			<thead>
				<tr>
					<th>Blocked Date</th>
					<th>Reason:</th>
					<th>Operator</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each dates}}
					<tr>
						<td>{{blockedDay}} - {{trip tripId}}</td>
						<td>{{reason}}</td>
						<td>{{user}}</td>
						<td>
							<a class="btn btn-mini btn-danger removeDate" title="Remove" rel='{{_id}}'>
							<i class="icon-trash bigger-120"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</fieldset>
</template>

<template name='blockRules'>
	<fieldset>
		<legend>Weekdays Availability</legend>
		<table>
			<tr>
				<th class="borderedTripWeek">Su</th>
				<th class="borderedTripWeek">Mo</th>
				<th class="borderedTripWeek">Tu</th>
				<th class="borderedTripWeek">We</th>
				<th class="borderedTripWeek">Th</th>
				<th class="borderedTripWeek">Fr</th>
				<th class="borderedTripWeek">Sa</th>
			</tr>
			<tr>
				<td class="borderedTripWeek">
					{{#if available 0}}
						<a class="weekDayAvailability" rel="0"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="0"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 1}}
						<a class="weekDayAvailability" rel="1"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="1"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 2}}
						<a class="weekDayAvailability" rel="2"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="2"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 3}}
						<a class="weekDayAvailability" rel="3"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="3"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 4}}
						<a class="weekDayAvailability" rel="4"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="4"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 5}}
						<a class="weekDayAvailability" rel="5"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="5"><i class='icon-check-empty'></i></a>
					{{/if}} 
				</td>
				<td class="borderedTripWeek">
					{{#if available 6}}
						<a class="weekDayAvailability" rel="6"><i class='icon-check'></i></a>
					{{else}}
						<a class="weekDayAvailability" rel="6"><i class='icon-check-empty'></i></a>
					{{/if}}
				</td>
			</tr>
		</table>
	</fieldset>
</template>


