<template name='blockingDates'>
	<article>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#users">
				<i class="blue icon-umbrella bigger-110"></i>
					Blocked Dates
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class='line-2'>
				<div id="users" class="tab-pane in active">
					<fieldset id='fieldsetUser'>
						<legend>Blocked Dates<span>&nbsp;&nbsp;</span><i class='icon-umbrella'/></legend>
							<div class='line-2'>
								<div>
									<label class="required">Trip: </label>
										<select id="trip" required>
											<option value="">Select..</option>
												{{#each trips}}
											<option value="{{_id}}">{{from}} - {{to}} - {{hour}}</option>
												{{/each}}
										</select>
								</div>
								<div>
								<label class="required">Day: </label>
									<input type='text' id="dayBlocked" disabled="disabled" name="dayBlocked" class="datePickerWYear size1-2">
								</div>
							</div>

							<div class='line-2'>
								<div>
									<label class="required">Reason: </label>
									<textarea form="blockingDates" id="reason" disabled="disabled" rows="2" name="reason" style="resize: none;" />
								</div>
							</div>							
							
							<div class='line-2'>
							</div>
							
							</fieldset>

							<input id="blockButton" type="submit" name="save" class="btn btn-danger btn-small" value="Block" disabled="disabled" />
					</fieldset>
					</div>

					<div>
						<!-- Replace list -->
						{{> usersList}}
					</div>
				</div>
				
			</div>


		</div>
    </article>
</template>





<!--   OLD CODE , PLEASE DELETE WHAT WE DONT NEED 
	
<template name="blockingDates">

	<form id="blockingDates" method="post" novalidate>
		<div class="line-3">

			<div>
				<label class="required">Trip:</label>
				<select id="trip" required>
					<option value="">Select..</option>
					{{#each trips}}
						<option value="{{_id}}">{{from}} - {{to}} - {{hour}}</option>
					{{/each}}
				</select>

				<label class="required">Day:</label>
				<input type='text' id="dayBlocked" disabled="disabled" name="dayBlocked" class="datePickerWYear size1-3">

				<label class="required">Reason:</label>
				<textarea form="blockingDates" id="reason" disabled="disabled" rows="4" name="reason" style="resize: none;" />


			</div>

			<div>
				<div id="listDates"> 
					<fieldset>
						<legend>Current Blocked dates<span>&nbsp;&nbsp;</span></legend>
						<table class='table table-striped table-bordered table-hover' id='blockedDates'>
							<tbody>
								{{#each block}}
									<tr>
										<td>{{blockedDay}}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</fieldset>
				</div>
			</div>

		</div>

		<input id="blockButton" type="submit" name="save" class="btn btn-success btn-small" value="Save" disabled="disabled" />
	</form>
</template> -->