<template name="management">
	<div class="page-header">
		<h1>
			Management
		</h1>
	</div><!-- /.page-header -->
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">

			<li class="active">
				<a data-toggle="tab" href="#main">
					<i class="blue icon-calendar bigger-110"></i>
					Season Control Manager
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#blockingDates">
					<i class="blue icon-umbrella bigger-110"></i>
					Date Control Manager
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#userManagement">
					<i class="blue icon-user bigger-110"></i>
					User Management
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#groupsManagement">
					<i class="blue icon-group bigger-110"></i>
					Groups Management
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="main" class="tab-pane in active">
				{{> seasonControl}}
			</div>

			<div id="blockingDates" class="tab-pane in">
				{{> blockingDates}}
			</div>

			<div id="userManagement" class="tab-pane in">
				{{> createAccount}}
			</div>

			<div id="groupsManagement" class="tab-pane in">
				{{> createGroups}}
			</div>
		</div>
	</div>
</template>