<template name='bookDetailResume'>
	<div class="page-header">
		<h1>Book Detail</h1>
	</div>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#main" sytle="z-index: 0;">
					<i class="blue icon-file bigger-110"></i>
					Main
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#transacions" sytle="z-index: 0;">
					<i class="blue icon-money bigger-110"></i>
					Transactions
				</a>
			</li>

			<li>
				<a id='historyLink' data-toggle="tab" href="#history" sytle="z-index: 0;">
					<i class="blue icon-book bigger-110"></i>
					History
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#bookingNote" sytle="z-index: 0;">
					<i class="blue icon-file bigger-110"></i>
					Booking Note
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#customer" sytle="z-index: 0;">
					<i class="blue icon-user bigger-110"></i>
					Customer
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#emailing" sytle="z-index: 0;">
					<i class="blue icon-envelope bigger-110"></i>
					Emailing
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="main" class="tab-pane in active">
				{{> voucher}}
				<div style="width: 800px;">

					<button class="btn btn-success print" style="float: right; margin: -4 4 0 0;" onclick="w=window.open();
					w.document.write($('#wholeVoucher').html());
					w.print();
					w.close();">
						Print
					</button>
					<button class="btn btn-small btn-info editBook" type='submit' form='pasagerInfo' style="float: right; margin-right: 10px;padding: 5.5px;" >
						Edit Booking
					</button>

				</div>
			</div>

			<div id="transacions" class="tab-pane in">
				{{> bookTransactionsResume}}
			</div>

			<div id="history" class="tab-pane in">
				{{> bookHistory}}
			</div>

			<div id="bookingNote" class="tab-pane in">
				{{> bookNotesResume}}
			</div>

			<div id="customer" class="tab-pane in">
				{{> bookCustomerDetailResume}}
			</div>

			<div id="emailing" class="tab-pane in">
				{{> bookCustomerEmailResume}}
			</div>
		</div>
	</div>
</template>
