<template name='bookDetailResume'>
	<div class="page-header">
		<h1>Book Detail</h1>
	</div>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#main">
					<i class="blue icon-file bigger-110"></i>
					Main
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#transacions">
					<i class="blue icon-money bigger-110"></i>
					Transactions
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#bookingNote">
					<i class="blue icon-file bigger-110"></i>
					Booking Note
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#customer">
					<i class="blue icon-user bigger-110"></i>
					Customer
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#emailing">
					<i class="blue icon-envelope bigger-110"></i>
					Emailing
				</a>
			</li>

			<li>
				<a data-toggle="tab" href="#refund">
					<i class="blue icon-mail-reply bigger-110"></i>
					Refund
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="main" class="tab-pane in active">
				{{> voucher}}
				<div style="width: 800px;">
					
					<button class="btn btn-success print" style="float: right; margin: -4 4 0 0;" onclick="window.print()">
						Print
					</button>
					<button class="btn btn-small btn-info editBook" type='submit' form='pasagerInfo' style="float: right; margin-right: 10px;padding: 5.5px;" > 
						Edit Booking
					</button>
					
				</div>
			</div>

			<div id="transacions" class="tab-pane in">
				{{> bookTransactionsResume}}
			</div>

			<div id="bookingNote" class="tab-pane in">
				{{> bookNotesResume}}
			</div>

			<div id="customer" class="tab-pane in">
				{{> bookCustomerDetailResume}}
			</div>

			<div id="emailing" class="tab-pane in">
				{{> bookCustomerEmailResume}}
			</div>

			<div id="refund" class="tab-pane in">
				TODO
			</div>
		</div>
	</div>
</template>