<template name='cart'>
	<div class="page-header">
		<h1>
			Basket
		</h1>
	</div><!-- /.page-header -->
	<table class='table table-striped table-bordered table-hover'>
		<thead>
			<tr>
				<td style='width: 70%'>Item</td>
				<td style='width: 5%; text-align: center'>Remove?</td>
				<td style='width: 10%; text-align: center'>Value</td>
			</tr>
		</thead>
		<tbody>
			{{#if customer}}
				{{#if getCBasket}}
					{{#each cbasketBooks}}
						{{>items}}
					{{/each}}
				{{/if}}
			{{else}}
				{{#if hasItems}}
					{{#each cartBooks}}
						{{>items}}
					{{/each}}
				{{/if}}
			{{/if}}
		</tbody>
		<tfoot>
			<td>Total</td>
			<td></td>
			{{#if customer}}
				<td><spam id='total'> <input style="margin-bottom:0px; width: 50px; background-color: rgba(0,0,0,0) !important;" disabled class="formattedAsMoney" value="{{totalCustomer}}"></span> ISK</td>
			{{else}}
				<td><spam id='total'> <input style="margin-bottom:0px; width: 50px; background-color: rgba(0,0,0,0) !important;" disabled class="formattedAsMoney" value="{{total}}"></span> ISK</td>
			{{/if}}
		</tfoot>
	</table>
	{{#if disableCheckout}}
		<button style='float: right' class='btn btn-success checkout'><i class='icon-shopping-cart'></i>Checkout</button>
	{{else}}
		<button style='float: right' class='btn btn-success checkout'><i class='icon-shopping-cart'></i>Checkout</button>
	{{/if}}
</template>



<template name="items">
	<tr>
		<input type='hidden' id='{{totalISK}}' class='unitPrice'>
		<td style='width: 70%'>
			{{product.name}} - {{dateNoTimeZone dateOfBooking}}
			</br>
			<b>From</b>
			{{trip.from}} {{#if hasTo}}<b>To</b> {{trip.to}}{{/if}} <br/><b>Hour</b> {{trip.hour}}
			</br>
			</br>
			{{customerName customerId}}
			</br>
			</br>
			{{#if flatey _id}}
				<b>This customer will make a stop at Flatey</b>
				</br>
				</br>
			{{/if}}
			<form id='sendToBorgun' action="https://securepay.borgun.is/securepay/default.aspx" method="POST" target="_blank">
				<div class='hidden'>
					<input type="hidden" name="merchantid" value="9929533" /><br>
					<input type="hidden" name="paymentgatewayid" value="3962" /><br>
					<input type="hidden" size=100 name="checkhash" value="1cd602debb391a3187c831ee939d9cd2" /><br>
					<input type="hidden" name="orderid" value="{{refNumber}}" /><br>
					<input type="hidden" name="currency" value="ISK" /><br>
					<input type="hidden" name="language" value="EN" /><br>
					<input type="hidden" name="buyername" value="{{customerName customerId}}" /><br>
					<input type="hidden" name="buyeremail" value="{{customerEmail customerEmail}}" /><br>
					<input type="hidden" size=100 name="returnurlsuccess"
					value="http://{{baseURL}}/ReturnPageSuccessOperator" /><br>
					<input type="hidden" size=100 name="returnurlcancel"
					value="http://{{baseURL}}/cancelOrder" /><br>
					<input type="hidden" size=100 name="returnurlerror"
					value="http://{{baseURL}}/ReturnPageError" /><br>
					{{{basket _id}}}
					<input type="hidden" class="amountBorgun" name="amount" value="{{totalISK}}" /><br>
					<input type="hidden" name=" pagetype " value="0" /><br>
					<input type="hidden" name=" skipreceiptpage " value="0" /><br>
					<input type="hidden" name="merchantemail" value="ba@borgun.is" /><br>
				</div>
			</form>
			{{#each prices}}{{#unless confirmationFeeNotLogin}}{{price}} ( <input disabled style="width: 50px; background-color: rgba(0,0,0,0) !important;" class="formattedAsMoney" value="{{perUnit}}"> ISK) X {{persons}} =  <input disabled style="width: 50px; background-color: rgba(0,0,0,0) !important;" class="formattedAsMoney" value="{{sum}}"> ISK</br>{{/unless}}{{/each}}</br>{{#if hasVehicle}}{{vehicle.category}} - {{vehicle.size}}m =  <input disabled style="width: 50px; background-color: rgba(0,0,0,0) !important;" style="width: 50px; background-color: rgba(0,0,0,0) !important;" class="formattedAsMoney" value="{{vehicle.totalCost}}"> {{/if}}
		</td>

		{{#if notFinish}}
			<td style='width: 5%; text-align: center'><a class='remove btn btn-mini btn-danger' rel='{{_id}}'><i class='icon-remove'></i></a>
			{{#if customer}}
			{{else}}
			<a class='payAtBorgun btn btn-mini btn-primary' rel='{{_id}}'><i class='icon-money'></i></a>
			<a class='editBook btn btn-mini btn-info' rel='{{_id}}'><i class='icon-edit'></i></a></td>
			{{/if}}
		{{/if}}
		<td style='width: 10%; text-align: center'>
			<span id='{{_id}}' class='calcTotal'>
				<input disabled style="width: 50px; background-color: rgba(0,0,0,0) !important;" class="formattedAsMoney" value="{{totalISK}}" />
			</span>
			<br/>
			{{#if hasDiscount}}
				{{discount}}% Off!
			{{/if}}
		</td>
	</tr>
</template>
