<template name="boats">
	<div class="page-header">
		<h1>
			Boats
		</h1>
	</div>

	<ul class="listing" id="boatsSection">
		<li id="new">
			<img src="/images/boat.png" class="new">

			<h3>Add Boat</h3>
		</li>
		
		{{#each boats}}
			<li id="{{_id}}">
				<img src="/images/{{name}}.jpg">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>

<template name="editBoat">
	<div class="page-header">
		<h1>
			{{#if boat.name}}
				Edit {{boat.name}} 
			{{else}} 
				New Boat 
			{{/if}}
		</h1>
	</div>

	<form id="boatForm" id="boatForm" novalidate>

		<div class="line-3">
			<div>
				<label class="required">Boat Name: </label>
				<input type ="text" id="name" name="name" value="{{boat.name}}" placeholder="Boat Name" required>
			</div>
			<div>
				<label class="required">Maximum Capacity: </label>
				<input type ="number" min="0" id="maxCapacity" name="maxCapacity" value="{{boat.maxCapacity}}" placeholder="Max capacity" required>
			</div>
		</div>
	</form>

	<button class='btn btn-success btn-small' form="boatForm">
		Save Boat
	</button>	
</template>