<template name="boats">
	<div class="page-header">
		<h1>
			Boats
		</h1>
	</div>

	<ul class="listing" id="boats">
		<li id="new">
			<img src="/images/boat.png">

			<h3>Add Boat</h3>
		</li>
		
		{{#each boats}}
			<li id="{{_id}}">
				<img src="/images/{{name}}.jpg">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>

<template name="editBoat">
	<div class="page-header">
		<h1>
			Edit {{boat.name}}
		</h1>
	</div>

	<form id="boatForm" id="boatForm" novalidate>

		<div class="line-3">
			<div>
				<label>Boat Name: </label>
				<input type ="text" id="name" name="name" value="{{boat.name}}" placeholder="Boat Name" required>
			</div>
			<div>
				<label>Maximum Capacity: </label>
				<input type ="number" min="0" id="maxCapacity" name="maxCapacity" value="{{boat.maxCapacity}}" placeholder="Max capacity" required>
			</div>
		</div>
	</form>

	<fieldset>
		<legend>Slots
			<span>&nbsp;&nbsp;</span>
			<i class='icon-square-o'/>
		</legend>

		<form id="slotForm" name="slotForm" novalidate>
			<div class="line-3">
				<div>
					<label>Slot Name: </label>
					<input type="text" placeholder="Slot Name" id='slotName' required>
				</div>

				<div>
					<label>Slot Width: </label>
					<input type="text" placeholder="Width" name="width" id='width-slot' required>
				</div>

				<div>
					<label>Slot Height: </label>
					<input type="text" placeholder="Height" name="height" id='height-slot' required>
				</div>
			</div>

			<label>
				<input id="split" type="checkbox"><span class="lbl">Split?</span>
	        </label>
			
			<input type="submit" class='btn btn-info btn-small addSlot' value="Add Slot">
		</form>
		
		<table class='table table-striped table-bordered trable-hover'>
			<thead>
				<th>Slot Name</th>
				<th>Width</th>
				<th>Height</th>
				<th>Split</th>
				<th>Actions</th>
			</thead>

			<tbody>
				{{#each boat.slots}}
					<tr>
						<td>{{slot_name}}</td>
						<td>{{height}}</td>
						<td>{{width}}</td>
						<td>{{#if split}} Yes {{else}} No {{/if}}</td>
						<td>
							<a class='remove_slot'>remove</a>
						</td>
					</tr>
				{{/each}}	
			</tbody>
		</table>
	</fieldset>

	<button class='btn btn-success btn-small' form="boatForm">
		Save Boat
	</button>	
</template>