<template name="boats">
	<div class="page-header">
		<h1>
			Boats
		</h1>
	</div>

	<ul class="listing" id="boatsSection">
		<li id="new">
			<img src="/images/boat.png" class="new">

			<h3>Add Boat</h3>
		</li>
		
		{{#each boats}}
			<li id="{{_id}}">
				<img src="/images/{{name}}.jpg">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>

<template name="editBoat">
	<div class="page-header">
		<h1>
			{{#if boat.name}}
				Edit {{boat.name}} 
			{{else}} 
				New Boat 
			{{/if}}
		</h1>
	</div>

	<form id="boatForm" id="boatForm" novalidate>

		<div class="line-3">
			<div>
				<label class="required">Boat Name: </label>
				<input type ="text" id="name" name="name" value="{{boat.name}}" placeholder="Boat Name" required>
			</div>
			<div>
				<label class="required">Maximum Capacity: </label>
				<input type ="number" min="0" id="maxCapacity" name="maxCapacity" value="{{boat.maxCapacity}}" placeholder="Max capacity" required>
			</div>
		</div>


		<button class='btn btn-success btn-small' form="boatForm">
			Save Boat
		</button>	

		<fieldset>
		<div class="line-2">
			<div>
				<label class="required">Max Cars up to 5 meters: </label>
				<input type ="number"  id='max5mCars' required>
			</div>
			<div>
				<label class="required">Max Cars up to 6 meters: </label>
				<input type ="number" min="0" id="max6mCars" name="maxCapacity"  required>
			</div>
		</div>

		<div class="line-2">
			<div>
				<label class="required">Meters Available on Extra Slot 1: </label>
				<input type ="number" id="extraSlot1m" required>
			</div>
			<div>
				<label class="required">Meters Available on Extra Slot 2: </label>
				<input type ="number" min="0" id="extraSlot2m" name="maxCapacity"   required>
			</div>
		</div>

		<button class='btn btn-success btn-small addStatus'>
			Add Status
		</button>


			<legend>Slots Status</legend>
			<table class='table table-striped table-bordered table-hover' id='usersTable'>
			<thead>
				<tr>
					<th>Maximum Cars up to 5m</th>
					<th>Maximum Cars up to 6m</th>
					<th>Meters Available on Extra Slot 1</th>
					<th>Meters Available on Extra Slot 2</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{#each status}}
					<tr>
						<td>{{qtdCarsUpTo_5}} Cars</td>
						<td>{{qtdCarsUpTo_6}} Cars</td>
						<td>{{bigSlotOne}} m</td>
						<td>{{bigSlotTwo}} m</td>
						<td>
							<a class="btn btn-mini btn-danger removeStatus" title="Remove" rel='{{customer.email}}'>
							<i class="icon-trash bigger-120"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		</fieldset>
	</form>
	
</template>