<template name="bookOperator">
	<div class="page-header">
		<h1>
			Bookings
			<label>Current season: <span id='currentSeason'></span></label>
		</h1>
	</div><!-- /.page-header -->
	<ul class="listing" id="bookings">
		{{#each product}}
			{{> productItem}}
		{{/each}}
	</ul>
</template>

<template name='productItem'>
	<li id="{{_id}}">
		<h3>{{name}}</h3>

		<div style="clear: both;"></div>

		<img src="/images/{{name}}.jpg">

		<div class="calendarWrap">
			<div class="calendar"></div>
			<br>
			<select id="trip_{{_id}}" class="trip" required style="min-width: 260px; max-width: 260px; " >
				<option value="" disabled="disabled">Select..</option>
			</select>

			<div style="clear: both;"></div>
			<button style="float: right;" class="btn btn-info proceed">Proceed</button>
		</div>	
	</li>	
</template>

<template name="bookDetail">
	<div class="page-header">
		<h1>
			Details {{product.name}} - {{date}}
		</h1>
	</div>

	{{#if isBookingNotFull bookingsCreated.count boat.maxCapacity}}
		<h3>
			<!-- <a href="{{newPath}}" name="newBooking" id="newBooking">New Booking</a> -->
			<button name="newBooking" id="newBooking" class="btn btn-info">
				New Booking
			</button>
		</h3>
	{{/if}}

	<div class='line-2'>
		<div>
			<form>
				<legend>Boat Status<span>&nbsp;&nbsp;</span><i class='icon-anchor'/></legend>
				<div id="pieChart">
		        <svg id="pieChartSVG">
		          <defs>
		            <filter id='pieChartInsetShadow'>
		              <feOffset dx='0' dy='0'/>
		              <feGaussianBlur stdDeviation='3' result='offset-blur' />
		              <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
		              <feFlood flood-color='black' flood-opacity='1' result='color' />
		              <feComposite operator='in' in='color' in2='inverse' result='shadow' />
		              <feComposite operator='over' in='shadow' in2='SourceGraphic' />
		            </filter>
		            <filter id="pieChartDropShadow">
		              <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur" />
		              <feOffset in="blur" dx="0" dy="3" result="offsetBlur" />
		              <feMerge>
		                <feMergeNode />
		                <feMergeNode in="SourceGraphic" />
		              </feMerge>
		            </filter>
		          </defs>
		        </svg>
		      </div>
			</div>
		</form>
		<div>
			<form>
				<legend>Day Resume<span>&nbsp;&nbsp;</span><i class='icon-table'/></legend>
				<div>
					<table class='table table-striped table-bordered table-hover'>
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>#Adult</td>
								<td><span id='numberOfAdults'></span></td>
								<td>Cars up to 5m</td>
								<td>{{qtdCarsUpTo5}} - <span id='max5slots'></span></td>
							</tr>
							<tr>
								<td>#Child</td>
								<td><span id='numberOfChildrens'></span></td>
								<td>Cars up to 6m</td>
								<td>{{qtdCarsUpTo6}}</td>
							</tr>
							<tr>
								<td>#Infant</td>
								<td><span id='numberOfInfants'></span></td>
								<td>Current meters alocated on extra Slot 1</td>
								<td><span id='spaceAlocatedSlot1'></span>m - <span id='spaceAlocatedSlot3'>m</span></td>
							</tr>	
							<tr>
								<td>#Senior</td>
								<td><span id='numberOfSeniors'></span></td>
								<td>Current meters alocated on extra Slot 2</td>
								<td><span id='spaceAlocatedSlot2'></span>m - <span id='spaceAlocatedSlot4'>m</span></td>
							</tr>	
							<tr>
								<td>#School Discount</td>
								<td><span id='numberOfSchoolDiscount'></span></td>	
								<td>Current meters alocated on Extras Slot</td>
								<td><span id='spaceAlocated'> - <span id='spaceAlocatedSlotCart'></span></span></td>
							</tr>
							<tr>
								<td>#Guides and Drivers</td>
								<td><span id='numberOfGuideAndDrivers'></span></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
	
	<div>
		<div class="divTable">
			<div>
				<h3>Passengers</h3>

				<h4 class="length">Total: {{bookingsCreated.count}}/{{boat.maxCapacity}}</h4>
		
			</div>

			<table class='table table-striped table-bordered table-hover' id="passengers">
				<thead>
					<tr>
						<th class="sorting_disabled">ID</th>
						<th class="sorting_disabled">Customer</th>
						<th class="sorting_disabled">Vehicle</th>
						<th class="sorting_disabled">Telephone</th>
						<th>Total Passagers</th>
						<th>Payment Status</th>
						<th class="sorting_disabled">Action</th>
					</tr>
				</thead>
				<tbody>	
				{{#each bookings}}
					<tr id='{{_id}}' class='{{#if paid}} green {{else}} red {{/if}}'>
						<td><a href="/bookDetailResume/{{_id}}">{{refNumber}}</a></td>
						<td>{{fullname customerId}}</td>
						<td>{{vehicle.category}} - {{vehicle.size}}m</td>
						<td>{{telephone customerId}}</td>
						<td>{{totalPassagers _id}}</td>
						<td>{{#if paid}} Completed {{else}} Not Paid {{/if}}</td>
						<td>
							{{#if isBookCreated bookStatus}}
								<a href="" class="changeStatusBooking btn btn-mini btn-danger" title='Cancel Booking'>
									<i class='icon-remove'></i>
								</a>
								<a href="" class="changeStatusBooking btn btn-mini btn-warning" title='No Show'>
									<i class='icon-thumbs-down'></i>
								</a>
							{{else}}
								<a href="" class="changeStatusBooking btn btn-mini btn-warning" title='No Show'>
									<i class='icon-thumbs-down'></i>
								</a>
							{{/if}}
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<div class="divTable">
                             
        </div>
	</div>
</template>

<template name='createBook'>
	{{#if showStatusDialog}}
    	{{> statusDialog}}
  	{{/if}}
	<div class="page-header">
		<h1>
			Booking - {{productName}} - {{dateOfBooking}}
			<label>Current Season: {{currentSeason}}</label>
		</h1>
	</div><!-- /.page-header -->

	<div class="line">
		<label class="required">Destination: </label>
		<select id="destination">
			{{#each trips}}
				{{#if booked from to}}
					<option value='{{_id}}' selected='selected'>{{from}} - {{to}} - {{hour}}</option>
				{{else}}
					<option value='{{_id}}'>{{from}} - {{to}} - {{hour}}</option>
				{{/if}}	
			{{/each}}
		</select>
		
	</div>

	<div class="line-3">
		{{#each prices}}
			{{> productPrices}}
		{{/each}}
	</div>

	<div class="line">
		{{> bookingVehicles}}
	</div>
	
	<div class='line'>
		<div>
	    <label>
	    	Total
	    </label>

	    <em name="totalISK" class="price" id="totalISK">0</em>
		</div>
		<div>
	    <label>
	    	Current Boat Status
	    </label>

    	<a id="boatStatus">See Status</a>

    	<div id="statusDialog">
		  <div class="mask"> </div>
		  <div class="modal">
		    <div class="modal-header">
		      <button type="button" class="close cancel">&times;</button>
		      <h3>Current Status</h3>
		    </div>

		    <div class="modal-body">
		    	<div>
			<form>
				<legend>Day Resume<span>&nbsp;&nbsp;</span><i class='icon-table'/></legend>
				<div>
					<table class='table table-striped table-bordered table-hover'>
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Cars up to 5m</td>
								<td>{{qtdCarsUpTo5}} - <span id='max5slots'></span></td>
							</tr>
							<tr>
								<td>Cars up to 6m</td>
								<td>{{qtdCarsUpTo6}}</td>
							</tr>
							<tr>
								<td>Current meters alocated on extra Slot 1</td>
								<td><span id='spaceAlocatedSlot1'></span>m - <span id='spaceAlocatedSlot3'>m</span></td>
							</tr>	
							<tr>
								<td>Current meters alocated on extra Slot 2</td>
								<td><span id='spaceAlocatedSlot2'></span>m - <span id='spaceAlocatedSlot4'>m</span></td>
							</tr>	
							<tr>	
								<td>Current meters alocated on Extras Slot</td>
								<td><span id='spaceAlocated'> - <span id='spaceAlocatedSlotCart'></span></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>

		    </div>

		    <div class="modal-footer">
		    	<a href="#" class="btn cancel">Cancel</a>
		    </div>
		  </div>
		</div>

    	</div>
	</div>
    {{> generalPassagerInfo}}
</template>

<template name="productPrices">
	<input type='hidden' id='{{unit}}' class='unitPrice'>
	<div>
		<label>{{price}} ({{unit}} ISK)</label>
		<input type='number' class="size1-4" min="0" value='{{priced price}}'>
		<em class="calcTotal price" data-value="" id="{{_id}}">{{firstTimePricing price unit}}</em>
	</div>
</template>

<template name="bookingVehicles">
	<div class='line-2'>
		<fieldset>
			<legend>Vehicle<span>&nbsp;&nbsp;</span><i class='icon-truck'/></legend>
			<div>
				<div>
					<label>Vehicle</label>
					<input type="text" class='size1-1' name="vehicle" id="vehicle">
				</div>

				<div class='line'>
				</div>

				<div>
					<label>Vehicle Plate</label>
					<input type="text" class='size1-3' name="vehiclePlate" id="vehiclePlate">
				</div>
			</div>
			{{> categoryVehicleBook}}
			<em type="text" id="totalVehicle" class='calcTotal price'>0</em>
		</fieldset>

		<fieldset>
			<legend>Vehicle Search<span>&nbsp;&nbsp;</span><span id='searchVehicleLegend'><span id='loading'><i class="icon-spinner icon-spin blue bigger-125" id='loading'></i></span></legend>
			
			<div>
				<div>
					<label>Brandname - Model</label>
					<input type="text"  class='size1-1' id="vehicleSearch">
				</div>
				
				<div class='line'>
				</div>

				<div class='line-2'>
					<div>
						<label>Model Body</label>
						<input type="text" class='size1-2' name="vehiclePlate" id="vehicleModelBody" readonly>
					</div>

					<div>
						<label>Weight</label>
						<input type="text" class='size1-2' name="vehiclePlate" id="vehicleWeight" readonly>
					</div>
				</div>
				
				<div class='line-2'>
					<div>
						<label>Length</label>
						<input type="text" class='size1-2' name="vehiclePlate" id="vehicleLength" readonly>
					</div>

					<div>
						<label>Width</label>
						<input type="text" class='size1-2' name="vehiclePlate" id="vehicleWidth" readonly>
					</div>
				</div>	

				<div class='line-2'>
					<div>
						<label>Height</label>
						<input type="text" class='size1-2' name="vehiclePlate" id="vehicleHeight" readonly>
					</div>
					<div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</template>

<template name="generalPassagerInfo">
	<form novalidate id='pasagerInfo'>
		<fieldset>
			<legend>Personal Info<span>&nbsp;&nbsp;</span><i class='icon-user'/></legend>
	        
	        <div class="line-3">
                <div>
	            	<label class="control-label required">Title: </label>
	                 <select name='title' id='title' required>
	                 	<option value=''>Select...</option>
	                	<option>Mr</option>
	                	<option>Mrs</option>
	                	<option>Miss</option>
	                	<option>Ms</option>
	            	</select>
	            </div>
	            
	            <div>
	            	<label class="control-label required">Full Name: </label>
	                <input type="text" name='firstName' id='fullName' class="tooltip-error" data-trigger="focus" placeholder="Full Name"required>
	                <input type="hidden" id='customerId'>
	            </div>

		    </div>
	        
	        <div class="line-3 input-append">
	        	<div>
		            <label class="control-label required">Birth Date: </label>
		            <input type='text' id="birthDate" name="birthDate" class="datepicker size1-3" placeholder="Birth Date" required>
		            
		            <span class="add-on">
						<i class="icon-calendar"></i>
					</span>
				</div>
		        
		        <div>
		            <label class="required">Email: </label>
		            <input type="email" id="email" name="email" placeholder="Email" required>
		        </div>
	            
	            <div class="input-append">
		            <label class="required">Telephone: </label>
	                <input type="text" class="size1-2" id="telephone" name="telephone" placeholder="Telephone" required>
	                <span class="add-on">
						<i class="icon-phone"></i>
					</span>
		        </div>
	        </div>
	    </fieldset>

    	<fieldset>
    		<legend>Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>
        	
        	<div class="line-3">
                <div class="controls">
            		<label class="required">Adress: </label>
                	<input type="text"  id='adress'name="adress" placeholder="Address" required>
            	</div>
		        
		        <div>
		            <label class="required">Postcode: </label>
	                <input type="text" id='postcode' name="postcode" placeholder="Postcode" required>
		        </div>
                
                <div>
	            	<label class="required">City: </label>
	                <input type="text"  id='city'name="city" placeholder="City" required>
	            </div>
        	</div>

	        <div class="line-3">
                <div>
	            	<label class="required">County / State: </label>
	                <input type="text"  id='state'name="county" placeholder="County / State" required>
	            </div>

	            <div>
	            	<label class="required">Country: </label>
	            	<select id="country" name="country" required>
	            		{{>countries}}
	            	</select>
	            </div>

				<div class="simpleCart_shelfItem">
					<div class='hidden'>
						<p id='itemDescription' class="item_name"></p>
						<p><input type="text" value="1" class="item_Quantity"><br>
						<span id='itemPrice' class="item_price"></span><br>
						<a id='addToCart' class="item_add" href="javascript:;"></a></p>
					</div>
				</div>
	        </div>
	        <label>Notes:</label>
	        <textarea id='notes' cols='4' rows='4'/>
    	</fieldset>
    </form>
    {{#if isEditing}}
    	<button class="btn btn-small btn-info saveEdit" type='submit' form='pasagerInfo'>Save Edits</button>
    {{else}}

	    <button class="btn btn-small btn-info addBook" type='submit' form='pasagerInfo'>Add to Basket</button>
	    <button class="btn btn-small btn-success procedToCart" type='submit' form='pasagerInfo'>Add to Basket & Checkout</button>
    {{/if}}
</template>

<template name="categoryVehicleBook">
	<div>
		<label>Category:</label>
		<select name="categories" id="categories">
			<option value="" disabled='true'>Select..</option>
				{{#each categories}}
					{{#if categorized category}}
						<option value="{{category}}" id="{{_id}}" selected='selected'>{{category}}</option>
					{{else}}
						<option value="{{category}}" id="{{_id}}">{{category}}</option>
					{{/if}}
				{{/each}}
		</select>
	</div>

	<div>
		<label>Size: </label>
		<select name="size" id="size">
				{{#if firstTime}}
					{{#each sizes}}
						{{#if sized this}}
							<option value="{{this}}" selected>{{this}}m</option>
						{{else}}
							<option value="{{this}}">{{this}}m</option>	
						{{/if}}	
					{{/each}}
				{{else}}
					{{#each sizes}}
						{{#if isBaseSize this}}
							<option value="{{this}}" selected>{{this}}m</option>
						{{else}}
							<option value="{{this}}">{{this}}m</option>	
						{{/if}}	
					{{/each}}
				{{/if}}
		</select>
	</div>
</template>
