<template name='book'>
	<div id='book-box'>
		<form id="myWizard" type="get" action="" class="form-horizontal">
		    <section class="step" data-step-title="Chose Destinations<span>&nbsp;&nbsp;</span><i class='icon-anchor'/>">
		        <div class="control-group">
		        	 <div class='span6'>
			            <label class="control-label" for="inputEmail">From</label>
			            <div class="controls">
			                <select id='selected_product' name='product' required>
								<option value=''>Please Select</option>
									{{{getProductOptions}}}
							</select>
			            </div>
			        </div>

			         <div class='span6'>
			            <label class="control-label" for="inputEmail">Departure</label>
			            <div class="controls">
			                <input id='departureDate' class='datepicker' type='text' required >
			            </div>
			        </div>

			        <div class='span6'>
		            	
			        </div>

			        <div class='span6'>
	        			
			        </div>     
		        </div>
		    </section>

		    <section class="step" data-step-title="People and Vehicles<span>&nbsp;&nbsp;</span><i class='icon-group'/>">
		        <div class="control-group">
		            <label class="control-label" for="inputUsername">Adult</label>
	                <div class="controls">
		                <input type="number" id="inputUsername" placeholder="#" class='number-input' min='0' required>
		            </div>
		            <label class="control-label" for="inputUsername">Child (12 - 15)</label>
	                <div class="controls">
		                <input type="number" id="inputUsername" placeholder="#" class='number-input' min='0' required>
		            </div>
		            <label class="control-label" for="inputUsername">Infant (0 - 11)</label>
	                <div class="controls">
		                <input type="number" id="inputUsername" placeholder="#" class='number-input' rmin='0' equired>
		            </div>
		            <label class="control-label" for="inputUsername">Adult</label>
	                <div class="controls">
		                <input type="number" id="inputUsername" placeholder="#" class='number-input' min='0' required>
		            </div>
		            <label class="control-label" for="inputUsername">Child (12 - 15)</label>
	                <div class="controls">
		                <input type="number" id="inputUsername" placeholder="#" class='number-input' min='0' required>
		            </div>
		        </div>

	        	<legend>Something<span>&nbsp;&nbsp;</span><i class='icon-group'/></legend> 
		        <div class="control-group">
			            <label class="control-label" for="inputFirstname">Vehicles</label>
			                <div class="controls">
			                <input type="number" id="inputFirstname" placeholder="#" class="number-input" min='0' required>
			            </div>
		        </div>
		    </section>

		    <section class="step" data-step-title="Passager<span>&nbsp;&nbsp;</span><i class='icon-user'/>">
		        <div class="control-group">
		            <label class="control-label" for="inputCity">Title: </label>
		                <div class="controls">
		                 <select>
		                 	<option>Select</option>
		                	<option>Mr</option>
		                	<option>Mrs</option>
		                	<option>Miss</option>
		                	<option>Ms</option>
	                	</select>
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">First Name: </label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="First Name" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Surname: </label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="Surname" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Birth Date: </label>
		                <div class="controls">
		                <input type='text' id="inputCity" class="datepicker">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Email: </label>
		                <div class="controls">
		                <input type="email" id="inputCity" placeholder="Email" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Telephone Country Code: </label>
		                <div class="controls">
		                <select>
		                	<option>Select</option>
		                	<option>Brazil (+55)</option>
	                	</select>
		            </div>
		        </div>

			        <div class="control-group">
			            <label class="control-label" for="inputCity">Telephone</label>
			                <div class="controls">
			                <input type="text" id="inputCity" placeholder="Telephone" class="input-xlarge">
			            </div>
			        </div>

		        <fieldset>
		        	<legend>Your Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>

		        	<div class="control-group">
		            <label class="control-label" for="inputCity">Adress</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="Address" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">City</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="City" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">County / State</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="County / State" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Postcode: </label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="Postcode" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Country</label>
		                <div class="controls">
		                <select>
		                	<option>Select</option>
		                	<option>Brazil</option>
	                	</select>
		            </div>
		        </div>

		        </fieldset>
		    </section>

		    <section class="step" data-step-title="User Data<span>&nbsp;&nbsp;</span><i class='icon-user'/>">
		        <div class="control-group">
		            <label class="control-label" for="inputFirstname">Username</label>
		                <div class="controls">
		                <input type="text" id="inputFirstname" placeholder="Username" class="input-xlarge">
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label" for="inputCity">Password</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="Password" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label" for="inputCity">Repeat Password</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="Repeat Password" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
	                <div class="controls">
		                <input type="checkbox" id="inputCity">
		            </div>
		             <label class="control-label" for="inputCity">I'll Like to subscribe to promotions!!!</label>
		        </div>
		    </section>

		    <section class="step" data-step-title="Resume<span>&nbsp;&nbsp;</span><i class='icon-book'/>">
		        <div class="control-group">
		            <label class="control-label" for="inputFirstname">Firstname</label>
		                <div class="controls">
		                <input type="text" id="inputFirstname" placeholder="Firstname" class="input-xlarge">
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label" for="inputCity">City</label>
		                <div class="controls">
		                <input type="text" id="inputCity" placeholder="City" class="input-xlarge">
		            </div>
		        </div>
		    </section>
		</form>
	</div>
</template>

<template name='productDescription'>
	<h3>{{name}}</h3>
	<hr/>
	<p>{{description}}</p>
</template>

<template name='slotsDate'>
	<h3>Slots Available on this date</h3>
	<hr/>
	<p>3 Slots Available!</p>
</template>