<template name='book'>
	{{#if showProductDialog}}
    	{{> productDialog}}
  	{{/if}}
	<div id='book-box'>
		<form id="myWizard" class="form-horizontal">
		    <section class="step" data-step-title="Chose Destinations<span>&nbsp;&nbsp;</span><i class='icon-anchor'/>">
		        <div class="control-group">
		        	 <div class='span6'>
			            <label class="control-label" for="inputEmail">From</label>
			            <div class="controls">
			                 <input type="text" id="destination" value="{{destination}}">
			            </div>
			        </div>

			         <div class='span6'>
			            <label class="control-label" for="inputEmail">Departure</label>
			            <div class="controls">
			                <input id='departureDate' name="departure" class='datepicker' type='text' required >
			            </div>
			        </div>     
		        </div>
		    </section>

		    <section class="step" data-step-title="People and Vehicles<span>&nbsp;&nbsp;</span><i class='icon-group'/>">
		        <div class="control-group">
		        	<div class='span12'>
			            <label class="control-label">Adult - 4.080 ISK</label>
		                <div class="controls">
			                <input type="number" name="adultNumber" id="adultNumber" value="0" class='number-input calcTotal' min='0'>
			            </div>
			            <label class="control-label">Child (12 - 15) - 2.040 ISK</label>
		                <div class="controls">
			                <input type="number" name="childNumber" id="childNumber" value="0" class='number-input calcTotal' min='0'>
			            </div>
			            <label class="control-label">Infant (0 - 11) - 0 ISK</label>
		                <div class="controls">
			                <input type="number" name="infantNumber" value="0" class='number-input' min='0'>
			            </div>
			            <label class="control-label">Senior-Disable - 3.264 ISK</label>
		                <div class="controls">
			                <input type="number" name="seniorNumber" id="seniorNumber" value="0" class='number-input calcTotal' min='0'>
			            </div>
    		            <label class="control-label">School - 2.040 ISK</label>
		                <div class="controls">
			                <input type="number" name="schoolNumber" id="schoolNumber" value="0" class='number-input calcTotal' min='0'>
			            </div>
			            <label class="control-label">Guides & Drivers - 0 ISK</label>
		                <div class="controls">
			                <input type="number" name="guidesNumber" value="0" class='number-input' min='0'>
			            </div>
			            <br/>
			            <label class="control-label"><b>Total</b></label>
		                <div class="controls">
			                <input type="text" name="totalISK" id="totalISK" readonly value="0 ISK">
			            </div>
			        </div>
		        </div>

        		<div class='span12'>
	        		<legend>Vehicles<span>&nbsp;&nbsp;</span><i class='icon-car'/></legend> 
			        <div class="control-group">
				            <label class="control-label">Vehicles</label>
				                <div class="controls">
				                <input type="number" name='vehiclesNumber' value="0" class="number-input" min='0'>
				            </div>
			        </div>
		    	</div>
		    </section>

		    <section class="step" data-step-title="Passager<span>&nbsp;&nbsp;</span><i class='icon-user'/>">
		        <div class="control-group">
		            <label class="control-label">Title: </label>
		                <div class="controls">
		                 <select name='title'>
		                 	<option>Select</option>
		                	<option>Mr</option>
		                	<option>Mrs</option>
		                	<option>Miss</option>
		                	<option>Ms</option>
	                	</select>
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">First Name: </label>
		                <div class="controls">
		                <input type="text" name='firstName' placeholder="First Name" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Surname: </label>
		                <div class="controls">
		                <input type="text"  name="surname" placeholder="Surname" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Birth Date: </label>
		                <div class="controls">
		                <input type='text'  name="birthDate" class="datepicker">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Email: </label>
		                <div class="controls">
		                <input type="email"  name="email" placeholder="Email" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Telephone Country Code: </label>
		                <div class="controls">
		                <select name="telephoneCode" >
		                	<option>Select</option>
		                	<option>Brazil (+55)</option>
	                	</select>
		            </div>
		        </div>

			        <div class="control-group">
			            <label class="control-label">Telephone</label>
			                <div class="controls">
			                <input type="text"  name="telephone" placeholder="Telephone" class="input-xlarge">
			            </div>
			        </div>

		        <fieldset>
		        	<legend>Your Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>

		        	<div class="control-group">
		            <label class="control-label">Adress</label>
		                <div class="controls">
		                <input type="text"  name="adress" placeholder="Address" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">City</label>
		                <div class="controls">
		                <input type="text"  name="city" placeholder="City" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">County / State</label>
		                <div class="controls">
		                <input type="text"  name="county" placeholder="County / State" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Postcode: </label>
		                <div class="controls">
		                <input type="text"  name="postcode" placeholder="Postcode" class="input-xlarge">
		            </div>
		        </div>

		        <div class="control-group">
		            <label class="control-label">Country</label>
		                <div class="controls">
		                <select name="country" >
		                	<option>Select</option>
		                	<option>Brazil</option>
	                	</select>
		            </div>
		        </div>

		        </fieldset>
		    </section>

		    <section class="step" data-step-title="User Data<span>&nbsp;&nbsp;</span><i class='icon-user'/>">
		        <div class="control-group">
		            <label class="control-label" for="inputFirstname">Username</label>
		                <div class="controls">
		                <input type="text" name='username' placeholder="Username" class="input-xlarge">
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label">Password</label>
		                <div class="controls">
		                <input type="password" name='authKey' placeholder="Password" class="input-xlarge">
		            </div>
		        </div>
		    </section>
		</form>
	</div>
</template>

<template name="prices">
	<label>{{passagerCategory}} - {{passagerCategoryPrice}} ISK</label>
	<input type="number" min="0">
</template>

<template name='productDescription'>
	<h3>{{name}}</h3>
	<hr/>
	<p>{{description}}</p>
</template>

<template name='slotsDate'>
	<h3>Slots Available on this date</h3>
	<hr/>
	<p>3 Slots Available!</p>
</template>

<template name="productDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Chose Destination</h3>
    </div>

    <div class="modal-body">
        {{#each products}}
    		{{> product}}	
    	{{/each}}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
    </div>
  </div>
</template>

<template name="product">
    <h4>
    	<a href='#' class='destinationLink'>{{name}}</a>
    </h4>	
</template>