<template name="bookOperator">
	<div class="page-header">
		<h1>
			Create Book
		</h1>
	</div><!-- /.page-header -->
	<ul id="trips">
		{{#each product}}
			<li id="{{_id}}">
				<img src="/images/{{name}}.jpg">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>


<template name='createBook'>
	<div class="page-header">
		<h1>
			Booking - {{productName}}
		</h1>
	</div><!-- /.page-header -->
	<div class="line-2">
    	<div class="control-group">
    		{{#each prices}}
    			{{> productPrices}}
    		{{/each}}
    	</div>
	
	    <div class="control-group">
	    	<fieldset id="vehiclesField">
				{{> bookingVehicles}}
				{{> categoryVehicleBook}}
				<input type="text" id="baseVehicle" readonly>
				<input type="text" id="totalVehicle" class='calcTotal' readonly>
			</fieldset>
	    </div>
    </div>

    <label><b>Total</b></label>
    <div class="controls">
        <input type="text" name="totalISK" id="totalISK" readonly>
    </div>

    <div class="control-group">
    	{{> generalPassagerInfo}}
    </div>
</template>

<template name="productPrices">
	<label>{{price}} - {{unit}} ISK</label>
	<input type="number" min="0">
	<input type="text" id="{{price}}" class='calcTotal' readonly>
</template>

<template name="bookingVehicles">
	<label>Vehicle</label>
	<select id="listvehicle">
		<option>Select...</option>
		{{#each vehicles}}
			{{> listVehicles}}
		{{/each}}
	</select>		
</template>

<template name="listVehicles">
	<option id="{{_id}}">{{brandname}} - {{model}}</option>
</template>

<template name="generalPassagerInfo">
	<fieldset>
		<legend>Personal Info<span>&nbsp;&nbsp;</span><i class='icon-user'/></legend>
        <div class="control-group">
            <label class="control-label">Title: </label>
                <div class="controls">
                 <select name='title'>
                 	<option>Select</option>
                	<option>Mr</option>
                	<option>Mrs</option>
                	<option>Miss</option>
                	<option>Ms</option>
            	</select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">First Name: </label>
                <div class="controls">
                <input type="text" name='firstName' placeholder="First Name" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Surname: </label>
                <div class="controls">
                <input type="text"  name="surname" placeholder="Surname" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Birth Date: </label>
                <div class="controls">
                <input type='text'  name="birthDate" class="datepicker">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Email: </label>
                <div class="controls">
                <input type="email"  name="email" placeholder="Email" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Telephone Country Code: </label>
                <div class="controls">
                <select name="telephoneCode" >
                	<option>Select</option>
                	<option>Brazil (+55)</option>
            	</select>
            </div>
        </div>

	        <div class="control-group">
	            <label class="control-label">Telephone</label>
	                <div class="controls">
	                <input type="text"  name="telephone" placeholder="Telephone" class="input-xlarge">
	            </div>
	        </div>
    </fieldset>
    <fieldset>
    	<legend>Your Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>
        	<div class="control-group">
            	<label class="control-label">Adress</label>
                <div class="controls">
                	<input type="text"  name="adress" placeholder="Address" class="input-xlarge">
            	</div>
        	</div>

	        <div class="control-group">
	            <label class="control-label">City</label>
	                <div class="controls">
	                <input type="text"  name="city" placeholder="City" class="input-xlarge">
	            </div>
	        </div>

	        <div class="control-group">
	            <label class="control-label">County / State</label>
	                <div class="controls">
	                <input type="text"  name="county" placeholder="County / State" class="input-xlarge">
	            </div>
	        </div>

	        <div class="control-group">
	            <label class="control-label">Postcode: </label>
	                <div class="controls">
	                <input type="text"  name="postcode" placeholder="Postcode" class="input-xlarge">
	            </div>
	        </div>

	        <div class="control-group">
	            <label class="control-label">Country</label>
	                <div class="controls">
	                <select name="country" >
	                	<option>Select</option>
	                	<option>Brazil</option>
	            	</select>
	            </div>
	        </div>
        </fieldset>
        <hr/>
        <button class="btn btn-small btn-info">Save Book</button>
</template>


<template name="categoryBook">
	<option value="{{category}}" id="{{_id}}">{{category}}</option>
</template>

<template name="sizesBook">
	<option value="{{this}}">{{this}}m</option>
</template>

<template name="categoryVehicleBook">
		<div class="line-2">
			<div>
				<label>Category:</label>
				<select name="categories" id="categories">
					<option value="">Select..</option>
					{{#each categories}}
		    			{{> categoryBook}}	
		    		{{/each}}
				</select>
			</div>

			<div>
				<label>Size: </label>
				<select name="size" id="size">
					<option value=""></option>
					{{#each sizes}}
		    			{{> sizesBook}}	
		    		{{/each}}
				</select>
			</div>
		</div>
</template>
