<template name="bookOperator">
	<div class="page-header">
		<h1>
			Bookings
		</h1>
	</div><!-- /.page-header -->
	<ul class="listing" id="bookings">
		{{#each product}}
			<li id="{{_id}}">
				<h3>{{name}}</h3>
				
				<img src="/images/{{name}}.jpg">

				<div class="calendarWrap">
					<div class="calendar" id="calendar_{{_id}}"></div>
				</div>
			</li>	
		{{/each}}
	</ul>
</template>

<template name='createBook'>
	{{#if showStatusDialog}}
    	{{> statusDialog}}
  	{{/if}}
	<div class="page-header">
		<h1>
			Booking - {{productName}}
		</h1>
	</div><!-- /.page-header -->

	<label class="required">Destination</label>
	<select>
		{{#each destination}}
			{{> destination}}
		{{/each}}
	</select>

	<div class="line-3">
		{{#each prices}}
			{{> productPrices}}
		{{/each}}
	</div>

	<div class="line">
		{{> bookingVehicles}}

		{{> categoryVehicleBook}}
	</div>
	
	<div class='line'>
		<div>
	    <label>
	    	Total
	    </label>

	    <em name="totalISK" class="price" id="totalISK">0</em>
		</div>
		<div>
	    <label>
	    	Current Boat Status
	    </label>

    	<a id="boatStatus">See Status</a>

    	<div id="statusDialog">
		  <div class="mask"> </div>
		  <div class="modal">
		    <div class="modal-header">
		      <button type="button" class="close cancel">&times;</button>
		      <h3>Current Status</h3>
		    </div>

		    <div class="modal-body">
		    	<table class='table table-striped table-bordered trable-hover'>
		    		<thead>
		    			<th>Slot Name</th>
		    			<th>Height</th>
		    			<th>Width</th>
		    			<th>Alocated</th>
		    		</thead>
		    		<tbody>
		    			{{#each slots}}
		    				<tr>
								<td>{{slot_name}}</td>
								<td>{{height}}</td>
								<td>{{width}}</td>
								<td>{{alocated}}</td>
							</tr>	
		    			{{/each}}
		    		</tbody>
		    	</table>
		    </div>

		    <div class="modal-footer">
		    	<a href="#" class="btn cancel">Cancel</a>
		    </div>
		  </div>
		</div>

    	</div>
	</div>
    {{> generalPassagerInfo}}
</template>

<template name="productPrices">
	<input type='hidden' id='{{unit}}' class='unitPrice'>
	
	<div>
		<label>{{price}} ({{unit}} ISK)</label>
		<input type="number" class="size1-4" min="0">

		<em class="calcTotal price" data-value="" id="{{price}}">0</em>
	</div>
</template>

<template name="bookingVehicles">
	<div>
		<label>Vehicle</label>
		<select id="listvehicle">
			<option>Select...</option>
			{{#each vehicles}}
				{{> listVehicles}}
			{{/each}}
		</select>
	</div>
</template>

<template name="listVehicles">
	<option id="{{_id}}">{{brandname}} - {{model}}</option>
</template>

<template name="generalPassagerInfo">
	<form novalidate>
		<fieldset>
			<legend>Personal Info<span>&nbsp;&nbsp;</span><i class='icon-user'/></legend>
	        
	        <div class="line-3">
                <div>
	            	<label class="control-label required">Title: </label>
	                 <select name='title' id='title' required>
	                 	<option value=''>Select...</option>
	                	<option>Mr</option>
	                	<option>Mrs</option>
	                	<option>Miss</option>
	                	<option>Ms</option>
	            	</select>
	            </div>
	            
	            <div>
	            	<label class="control-label required">Full Name: </label>
	                <input type="text" name='firstName' id='fullName' class="tooltip-error" data-trigger="focus" placeholder="Full Name"required>
	            </div>

		    </div>
	        
	        <div class="line-3 input-append">
	        	<div>
		            <label class="control-label required">Birth Date: </label>
		            <input type='text' id="birthDate" name="birthDate" class="datepicker" placeholder="Birth Date" required>
		            
		            <span class="add-on">
						<i class="icon-calendar"></i>
					</span>
				</div>
		        
		        <div>
		            <label class="required">Email: </label>
		            <input type="email" id="email" name="email" placeholder="Email" class="input-xlarge" required>
		        </div>
	            
	            <div class="input-append">
		            <label class="required">Telephone</label>
	                <input type="text" class="size1-3" id="telephone" name="telephone" placeholder="Telephone" required>
	                <span class="add-on">
						<i class="icon-phone"></i>
					</span>
		        </div>
	        </div>
	    </fieldset>

    	<fieldset>
    		<legend>Your Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>
        	
        	<div class="line-3">
                <div class="controls">
            		<label class="required">Adress</label>
                	<input type="text"  id='adress'name="adress" placeholder="Address" class="input-xlarge" required>
            	</div>
		        
		        <div>
		            <label class="required">Postcode: </label>
	                <input type="text" id='postcode' name="postcode" placeholder="Postcode" class="input-xlarge" required>
		        </div>
                
                <div>
	            	<label class="required">City</label>
	                <input type="text"  id='city'name="city" placeholder="City" class="input-xlarge" required>
	            </div>
        	</div>

	        <div class="line-3">
                <div>
	            	<label class="required">County / State</label>
	                <input type="text"  id='state'name="county" placeholder="County / State" class="input-xlarge" required>
	            </div>

	            <div>
	            	<label class="required">Country</label>
	                <select id="country" name="country" required>
	                	<option value=''>Select...</option>
	                	<option>Brazil</option>
	            	</select>
	            </div>
	        </div>
    	</fieldset>

        <input type='submit' class="btn btn-small btn-success" value='Save Book'/>
    </form>
</template>


<template name="categoryBook">
	<option value="{{category}}" id="{{_id}}">{{category}}</option>
</template>

<template name="destination">
	<option>{{from}} - {{to}} - {{hour}}</option>
</template>

<template name="sizesBook">
	<option value="{{this}}">{{this}}m</option>
</template>

<template name="categoryVehicleBook">
	<input type="hidden" id="baseVehicle"/>

	<div>
		<label>Category:</label>
		<select name="categories" id="categories">
			<option value="">Select..</option>
			{{#each categories}}
    			{{> categoryBook}}	
    		{{/each}}
		</select>
	</div>

	<div>
		<label>Size: </label>
		<select name="size" id="size">
			<option value=""></option>
			{{#each sizes}}
    			{{> sizesBook}}	
    		{{/each}}
		</select>
	</div>

	<em type="text" id="totalVehicle" class='calcTotal price'>0</em>
</template>

<template name="bookDetail">
	<div class="page-header">
		<h1>
			Details {{product.name}} - {{date}}
		</h1>
	</div>

	<h3>
		<!-- <a href="{{newPath}}" name="newBooking" id="newBooking">New Booking</a> -->
		<button name="newBooking" id="newBooking" class="btn btn-info">
			New Booking
		</button>
	</h3>
	
	<div class="line-2">
		<div class="divTable">
			<div>
				<h3>Passengers</h3>

				{{#if bookings.length}}
					<h4 class="length">Total: {{bookings.length}}</h4>
				{{/if}}
			</div>

			<table class='table table-striped table-bordered trable-hover' id="passengers">
				<thead>
					<tr>
						<th>ID</th>
						<th>Custumer</th>
						<th>Action</th>
					</tr>
				</thead>
				{{#if bookings.length}}
					{{#each bookings}}
						<tr>
							<td id="{{_id}}">
								<a hre="#">{{_id}}</a>
								<p>{{clientName}}</p>
								<a href="#" id="cancel">Cancel</a>
							</td>
						</tr>
					{{/each}}
				{{else}}
					<td id="">
						<a hre="#">434324</a>
					</td>
					<td>
						<p>Jarvis</p>
					</td>
					<td>
						<a href="#" id="cancel">Cancel</a>
					</td>
				{{/if}}
			</table>
		</div>
		
		{{#if boat.slots}}
			<div class="divTable">
				<div>
					<h3>Boat slots</h3>

					<h4 class="length">Total: {{boat.slots.length}}</h4>
				</div>

				<table class='table table-striped table-bordered trable-hover'>
		    		<thead>
		    			<th>Slot Name</th>
		    			<th>Height</th>
		    			<th>Width</th>
		    			<th>Alocated</th>
		    		</thead>
		    		<tbody>
		    			{{#each boat.slots}}
		    				<tr>
								<td>{{slot_name}}</td>
								<td>{{height}}</td>
								<td>{{width}}</td>
								<td>{{alocated}}</td>
							</tr>	
		    			{{/each}}
		    		</tbody>
		    	</table>
			</div>
		{{/if}}
	</div>
</template>