<template name='creditCardInfo'>
  <div id="creditCardModal" hidden>
    <div class="mask"> </div>
    <div class="modal">
      <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3>Enter with Credit Card Numbers</h3>
      </div>

      <div class="modal-body">
        <div>
          <form id='creditCardInfoForm'>
            <label class='required'>Credit Card Number: </label>
            <input name='number' type='text'/ required>

            <label class='required'>Expiration Date: </label>
            <input name='expirationDate' type='text' class='size1-4' id='expirationDate' required/>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type='submit' form='creditCardInfoForm' class="btn btn-success" style="float: right">Save</button>
      </div>
    </div>
  </div>
</template>

<template name='creditCardInfoShow'>
  <div id="creditCardShowInfoModal" hidden>
    <div class="mask"> </div>
    <div class="modal">
      <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3>Enter with Credit Card Numbers</h3>
      </div>

      <div class="modal-body">
        <div>
          <form id='creditCardInfoForm'>
            {{#with CCInfo}}
              <label class='required'>Credit Card Number: </label>
              <label>{{number}}</label>

              <label>Expiration Date: </label>
              <label>{{expirationDate}}</label>
            {{/with}}
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a class="btn btn close" style="float: right">Close</a>
      </div>
    </div>
  </div>
</template>
