<template name='creditCardInfo'>
  <div id="creditCardModal" hidden>
    <div class="mask"> </div>
    <div class="modal">
      <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3>Enter with Credit Card Info</h3>
      </div>

      <div class="modal-body">
        <div>
          <form id='creditCardInfoForm'>
            <label class='required'>Credit Card Number: </label>
            <input name='number' type='text'/ required maxlength='16'>

            <label class='required'>Expiration Date: </label>
            <input name='expirationDate' type='text' class='size1-4' id='expirationDate' required/>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type='submit' form='creditCardInfoForm' class="btn btn-success" style="float: right">Save</button>
      </div>
    </div>
  </div>
</template>

<template name='creditCardInfoShow'>
  <div id="confirmActionModalCC" hidden>
    <div class="mask"> </div>
    <div class="modal">
      <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3 id='headerDialog'>Please enter with yours initials</h3>
      </div>

      <div class="modal-body">
        <form id='confirmActionFormCC'>
          <div>
            <label class="required">Initials: </label>
            <input name='initialsCC' type='text' id="initialsCC" required>
          </div>
          <div>
            <label class="required">Full Name: </label>
            <input name='initialsResultCC' type='text' id="initialsResultCC" readonly required>
          </div>
        <form>
      </div>

      <div class="modal-footer">
        <button type='submit' form='confirmActionFormCC' class="btn btn-success" style="float: right">Save</button>
      </div>
    </div>
  </div>
  <div id="creditCardShowInfoModal" hidden>
    <div class="mask"> </div>
    <div class="modal">
      <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3>Credit Card Info</h3>
      </div>

      <div class="modal-body">
        <div>
          <form id='creditCardInfoForm'>
              <input type='hidden' id='bookIdHidden'>
              <label>Credit Card Number: </label>
              <span id='creditCardNumberLabel'></span>

              <label>Expiration Date: </label>
              <span id='expirationDateLabel'></span>

              <div>
                  {{#if isPaid}}
                    <label class="required">Confirmation Fee Paid:</label>
                    <input id="confirmationFeePaidInput" checked type="checkbox" class="confirmationFeePaid ace ace-switch ace-switch-6">
                    <span class='lbl'></span>
                  {{else}}
                    <label class="required">Confirmation Fee Paid:</label>
                    <input id="confirmationFeePaidInput"  type="checkbox" class="confirmationFeePaid ace ace-switch ace-switch-6">
                    <span class='lbl'></span>
                  {{/if}}
              </div>
          </form>
        </div>
      </div>



      <div class="modal-footer">
      </div>
    </div>
  </div>
</template>
