<!-- JS inside book_operator.js-->
<template name="generalPassagerInfo">
	<form novalidate id='pasagerInfo' method="post">
		<fieldset>
			<legend>Personal Info<span>&nbsp;&nbsp;</span><i class='icon-user'/> {{#if customerCreation}}
	            	
	    				<span style="font-size: 16px;">Use my own data:<span>
	    				<input id="myOwnData" type="checkbox" class="ace ace-switch ace-switch-6">
	    				<span class='lbl'></span>
	    				<input id="usingData" type="hidden" value="false">
	    		 
	    			{{/if}}</legend>
	        
	        <div class="line-3">
	        	
	            <div>
	    			<label>
	    				<label>Social Security Number: </label>
		            	<input type="text" id="socialSecurityNumber" name="socialSecurityNumber" placeholder="Social Security Number">
	    			</label>
	            </div>
	            
                <div>
	            	<label class="control-label required">Title: </label>
	                 <select name='title' id='title' required>
	                 	<option value=''>Select...</option>
	                	<option>Mr</option>
	                	<option>Mrs</option>
	                	<option>Miss</option>
	                	<option>Ms</option>
	            	</select>
	            </div>
	            
	            <div>
	            	<label class="control-label required">Full Name: </label>
	                <input type="text" name='firstName' id='fullName' class="tooltip-error" data-trigger="focus" placeholder="Full Name"required>
	                <input type="hidden" id='customerId'>
	            </div>
		    </div>
	        
	        <div class="line-3 input-append">
	        	<div>
		            <label class="control-label required">Birth Date: </label>
		            <input type='text' id="birthDate" name="birthDate" class="datepicker size1-3" placeholder="Birth Date" required>
		            
		            <span class="add-on">
						<i class="icon-calendar"></i>
					</span>
				</div>
		        
		        <div>
		            <label class="required">Email: </label>
		            <input type="email" id="email" name="email" placeholder="Email" required>
		        </div>
	            
	            <div class="input-append">
		            <label class="required">Telephone: </label>
	                <input type="text" class="size1-2" id="telephone" name="telephone" placeholder="Telephone" required>
	                <span class="add-on">
						<i class="icon-phone"></i>
					</span>
		        </div>
	        </div>

	        {{#if isCreatingExternalUser}}
	        <div class="line-3 input-append">
		        <div>
		            <label class="required">Password: </label>
		            <input type="password" id="firstPasswordToEnter" name="firstPasswordToEnter" placeholder="Password" required>
		        </div>
	            
	            <div class="input-append">
		            <label class="required">Confirm Password: </label>
	                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
		        </div>
	        </div>
	        {{/if}}
	    </fieldset>

    	<fieldset>
    		<legend>Address<span>&nbsp;&nbsp;</span><i class='icon-home'/></legend>
        	
        	<div class="line-3">
                <div class="controls">
            		<label class="required">Address: </label>
                	<input type="text"  id='adress'name="adress" placeholder="Address" required>
            	</div>
		        
		        <div>
		            <label class="required">Postcode: </label>
	                <input type="text" id='postcode' name="postcode" placeholder="Postcode" required>
		        </div>
                
                <div>
	            	<label class="required">City: </label>
	                <input type="text"  id='city'name="city" placeholder="City" required>
	            </div>
        	</div>

	        <div class="line-3">
                <div>
	            	<label >County / State: </label>
	                <input type="text"  id='state'name="county" placeholder="County / State" >
	            </div>

	            <div>
	            	<label class="required">Country: </label>
	            	<select id="country" name="country" required>
	            		{{>countries}}
	            	</select>
	            </div>
	        </div>
	        {{#if dateSelected}}
		        <label>Notes:</label>
		        <textarea id='notes' cols='4' rows='4'/>
		    {{/if}}   
    	</fieldset>
    </form>
    {{#if isCreateUserPage}}
	<button class="btn btn-small btn-success createUser" type='submit' form='pasagerInfo'>Create User</button>
	{{/if}}
</template>