<template name='bookus'>
	<form>
		<fieldset>
			<legend>Book</legend>
			<label>Destiny: </label>
			<input type='text' id='destiny' name='destiny'>
			<label>Date of Departure: </label>
			<input type='date' id='dateOfDeparture' name='dateOfDeparture'></br>
			<label>How many People: </label>
			<input type='number' id='howManyPeople' name='howManyPeople'>
			<label>How many Dependents: </label>
			<input type='number' id='howManyDependents' name='howManyDependents'></br>
			<label>How many Vehicles: </label>
			<input type='number' id='howManyVehicles' name='howManyVehicles'></br>
		</fieldset>
		<fieldset>
			<legend>Passager</legend>
			<label>First Name: </label>
			<input type='text' id='firstName' name='firstName'></br>
			<label>Last Name: </label>
			<input type='text' id='lastName' name='lastName'></br>
			<label>Birth Date: </label>
			<input type='date' id='birthDate' name='birthDate'></br>
			<label>Nationality: </label>

			<label>Identification Document: </label>
			<input type='text' id='identificationDocument' name='identificationDocument'></br>
			<label>Phone Number: </label>
			<input type='phone' id='phoneNumber' name='phoneNumber'></br>
			<label>Email: </label>
			<input type='email' id='email' name='email'></br>
			<label>Confirmation Fee Chargeable: </label>
			<input type='checkbox' id='isConfirmationFeeChargeable' name='isConfirmationFeeChargeable'>
		</fieldset>

	</form>
</template>