<template name='bookus'>
	<form>
		<fieldset>
			<legend>Booking</legend>
				<div class='span6'>
					<label>Destiny: </label>
					<input class='input-text' type='text' id='destiny' name='destiny'>
				</div>
				<div class='span6'>
					<label>Date of Departure: </label>
					<input class='input-text' type='date' id='dateOfDeparture' name='dateOfDeparture'>
				</div>
				<div class='span6'>
					<label>How many People: </label>
					<input class='input-text' type='number' id='howManyPeople' name='howManyPeople'>
				</div>
				<div class='span6'>
					<label>How many Dependents: </label>
					<input class='input-text' type='number' id='howManyDependents' name='howManyDependents'>
				</div>
				<div class='span6'>
					<label>How many Vehicles: </label>
					<input class='input-text' type='number' id='howManyVehicles' name='howManyVehicles'>
				</div>
		</fieldset>
		<fieldset>
			<legend>Passenger</legend>
			<div class='span6'>
				<label>First Name: </label>
				<input class='input-text' type='text' id='firstName' name='firstName'>
			</div>
			<div class='span6'>
				<label>Last Name: </label>
				<input class='input-text' type='text' id='lastName' name='lastName'>
			</div>
			<div class='span6'>
				<label>Birth Date: </label>
				<input class='input-text' type='date' id='birthDate' name='birthDate'>
			</div>
			<div class='span6'>
				<label>Nationality: </label>
				<input class='input-text' type='text'>
			</div>
			<div class='span6'>
				<label>Identification Document: </label>
				<input class='input-text' type='text' id='identificationDocument' name='identificationDocument'>
			</div>
			<div class='span6'>
				<label>Phone Number: </label>
				<input class='input-text' type='text' id='phoneNumber' name='phoneNumber'>
			</div>
			<div class='span6'>
				<label>Email: </label>
				<input class='input-text' type='email' id='email' name='email'>
			</div>
			<div class='span6'>
				<label>Confirmation Fee Chargeable: </label>
				<input class='input-text' type='checkbox' id='isConfirmationFeeChargeable' name='isConfirmationFeeChargeable'>
			</div>
		</fieldset>
		<button class='btn btn-success' style='float: right'>Book Now</button>
	</form>
</template>