<template name="footer">
  <footer class="footer">
  <div class="limit padding">
    <div class="zone">
  	  <div class="grid gutter collapse720">
        <div class="col s2of3">
        <div class="html-text" style="background-color: "><p>Seatours - Smidjustigur 3 - 340 Stykkisholmur - Iceland - <a href="mailto:seatours@seatours.is">seatours@seatours.is</a> - tel: +354 433 2254</p>
        <p><a href="http://www.facebook.com/pages/Seatours-day-tours-and-activities-in-Iceland/180681817774" target="_blank">WE ARE ON FACEBOOK</a></p></div>
        </div>
        <div class="col s1of3">
        <div class="html-text" style="background-color: "><p style="text-align: right;">
          <img src='/images/footer_img1.png'>
          <img src='/images/footer_img2.png'>  
          </p>
        </div>
      </div>
    </div>
  </div>
  </footer>
</template>
