<template name='header'>
	<header class="header">
		  <div class="limit relative">
			  <a class="logo" href="http://seatours.is/"><img src='/images/logo-en.png'></a>
			  <nav class="nav top">
				  <ul>
	            <li data-id="item_39" class="first"><a data-id="link_39" class="first" href="http://seatours.is/Tours/" title="Tours">Link1</a></li>
	        </ul>
			  </nav>
	      <div class="actions button-group">
				  <a href="http://seatours.is/Booknow/" class="show-en button orange caps book-now">Book now</a>
	      </div>
		  </div>
	</header>
</template>
