<template name='header'>
	<header class="header">
		  <div class="limit relative">
			  <a class="logo" href="http://seatours.is/"><img src='/images/logo-en.png'></a>
			  <nav class="nav top">
				<ul>
		            <li class="first"><a class="first" href="#" title="Tours">TOURS</a></li>
		            <li class="first"><a class="first" href="#" title="Ferry Baldur">FERRY BALDUR</a></li>
		            <li class="first"><a class="first" href="#" title="Our Area">OUR AREA</a></li>
		            <li class="first"><a class="first" href="#" title="About Seatours">ABOUT SEATOURS</a></li>
	        	</ul>
			  </nav>
	      <div class="actions button-group">
				<a href="http://seatours.is/Booknow/" class="button-orange caps book-now">Book now</a>
	      </div>
		  </div>
	</header>
</template>
