<template name="submenu">
	<div class="subnav-wrap inner padded">
	  <nav class="subnav">
	    <ul>
	      <li data-id="item_39" class="first selected"><a data-id="link_39" class="first selected" href="/Tours/" title="Tours">Submenu</a>
	          <ul>
	              <li data-id="item_45" class="second selected"><a data-id="link_45" class="second" href="/Tours/VikingSushiadventure/" title="VikingSushi adventure">Sublink 1</a></li>
	          </ul>
	      </li>
	    </ul>
	  </nav>
	</div>
</template>