<template name='createAccount'>
	<article>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#users">
				<i class="green icon-user bigger-110"></i>
					Users
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class='line-2'>
				<div id="users" class="tab-pane in active">
					<fieldset id='fieldsetUser'>
						<legend>User Data<span>&nbsp;&nbsp;</span><i class='icon-user'/></legend>
							<div class='line-2'>
								<div>
									<label>Username: </label>
									<input name='login' type='text' required id='username'>
								</div>
								<div>
								<label>Email: </label>
									<input name='email' type='email' required id='mail'>
								</div>
							</div>

							<div class='line-2'>
								<div>
									<label>Password: </label>
									<input name='password1' type='password' required id='password1'>
								</div>
								<div>
									<label>Confirm Password: </label>
									<input name='password2' type="password" required id='password2'>
								</div>
							</div>							
							
							<div class='line-2'>
								<div>
									<label>Name: </label>
									<input name='name' type='text' required id='nameOfUser'>
								</div>

								<div>
									<label>Group: </label>
									<select id='group' required>
										<option value=''>Select...</option>
										{{#each groups}}
											<option value='{{_id}}'>{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							
							</fieldset>

							<button class='btn btn-success create-account-button' id='addUsers'>
	                    		<i class="icon-user"></i>
	                    		Create
	                		</button>
					</fieldset>
					</div>

					<div>
						{{> usersList}}
					</div>
				</div>
				
			</div>


		</div>
    </article>
</template>

<template name='usersList'>
	<fieldset>
		<legend>Users<span>&nbsp;&nbsp;</span><i class='icon-group'/></legend>
		<table class='table table-striped table-bordered table-hover' id='usersTable'>
			<thead>
				<tr>
					<th>Login</th>
					<th>Email</th>
					<th>Group</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr id="{{_id}}{{username}}">
						<td>{{username}}</td>
						{{#each emails}}
						<td>{{address}}</td>
						{{/each}}
						<td>{{getGroup profile.groupID}}</td>
						<td>
							<a class="btn btn-mini btn-info forgotPassword" title="Forgot Password" rel='{{_id}}{{username}}'>
							<i class="icon-unlock"></i></a>
							{{#if isNotAdmGroup profile.groupID}}
								<a class="btn btn-mini btn-danger removeAccount" title="Remove" rel='{{_id}}'>
								<i class="icon-trash"></i></a>
							{{/if}}		
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</fieldset>
</template>