<template name="trips">
	<ul id="trips">
		{{#each trips}}
			{{> trip}}	
		{{/each}}
	</ul>
</template>

<template name="trip">
	<li id="{{_id}}">
		<img src="/images/{{name}}.jpg">

		<h3>{{name}}</h3>
	</li>
</template>




<template name="editTrip">
	<label>Name:</label>
	<input type="text" name="name" id="name" value="{{trip.name}}" placeholder="Name">

	{{#each trip.trip}}
		<label>From:</label>
		<input type="text" name="from" id="from" value="{{from}}" placeholder="From">

		<label>To:</label>
		<input type="text" name="to" id="to" value="{{to}}" placeholder="To">
	{{/each}}

</template>