<template name="trips">
	<div class="page-header">
		<h1>
			Edit Products/Trips & Prices
		</h1>
	</div><!-- /.page-header -->
	<ul id="trips">
		{{#each trips}}
			<li id="{{_id}}">
				<img src="/images/{{name}}.jpg">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>


<template name="editTrip">
	<div class="page-header">
		<h1>
			Products & Trips
		</h1>
	</div>


	<label>Product name:</label>
	<input type="text" name="name" id="name" value="{{product.name}}" placeholder="Name">

	<fieldset id="tripField">
		<legend>Trips<span>&nbsp;&nbsp;</span><i class='icon-anchor'/></legend>

		<form id="tripForm">
			<div class="line-2">
				<div>
					<label>From:</label>
					<input type="text" name="from" id="from" placeholder="From" required>
				</div>

				<div>
					<label>To:</label>
					<input type="text" name="to" id="to" placeholder="To" required>
				</div>
				
				<div>
					<label>Hour:</label>
					<input type="text" name="hour" id="hour" placeholder="Hour" required>
				</div>
			</div>
		
			<input type="submit" id="addTrip" class='btn btn-info btn-small' value="Add Trip" />
		</form>


		<table class="table table-striped table-bordered trable-hover">
			<thead>
				<tr>
					<th>From</th>
					<th>To</th>
					<th>Hour</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{{#each product.trips}}
					<tr>
						<td>{{from}}</td>
						<td>{{to}}</td>
						<td>{{hour}}</td>
						<td>
							<a href="#" class="removeTrip" id="{{this._id}}">Remove</a>
						</td>
					</tr>
				{{/each}}	
			</tbody>
		</table>

	</fieldset>

	<fieldset id="priceField">
		<legend>Prices<span>&nbsp;&nbsp;</span><i class='icon-money'/></legend>

		<form id="priceForm">
			<div class="line-2">
					<div>
						<label>Price:</label>
						<input type="text" name="price" id="price" placeholder="Price" required>
					</div>

					<div>
						<label>Per unit:</label>
						<input type="number" name="unit" id="unit" placeholder="Per unit" required>
					</div>
			</div>

			<input type='submit' id="addPrice" class='btn btn-info btn-small' value="Add Price">
		</form>

		<table id="tablePrice" class="table table-striped table-bordered trable-hover">
			<thead>
				<tr>
					<th>Price</th>
					<th>Per Unit (ISK)</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{{#each product.prices}}
					{{> price}}
				{{/each}}	
			</tbody>
		</table>
	</fieldset>

	<input type='submit' class='btn btn-success btn-small' value="Save">

</template>

<template name="price">
	<tr>
		<td>
			{{price}}
		</td>
		<td>
			{{unit}}
		</td>
		<td>
			<a href="#" class="removePrice" id="{{_id}}">Remove</a>
		</td>
	</tr>	
</template>