<template name="trips">
	<div class="page-header">
		<h1>
			Edit Products/Trips & Prices
		</h1>
	</div><!-- /.page-header -->
	
	<ul class="listing" id="tripsSection">
		<li id="new">
			<img src="/images/trip.png" class="new imgListsBoatTrip">

			<h3>Add Trip</h3>
		</li>
		
		{{#each trips}}
			<li id="{{_id}}">
				<img class="imgListsBoatTrip" src="/images/{{imageName}}">

				<h3>{{name}}</h3>
			</li>	
		{{/each}}
	</ul>
</template>

<template name="editTrip">
	<div class="page-header">
		<h1>
			Products & Trips
		</h1>
	</div>

	<form id="productForm" name="productForm" novalidate>
		<div class="line-3">
			<div>
				<label class="required">Product name:</label>
				<input type="text" name="name" id="name" value="{{product.name}}" placeholder="Name" required>
			</div>

			<div>
				<label class="required">Boat:</label>
				<select name="boat" id="boat" required>
					<option value="">Select..</option>

					{{#each boats}}
						<option value="{{_id}}" {{#if boatFind _id}} selected="true" {{/if}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div>
				<label>Available for: </label>
				<select id='groupTrip' required>
					<option value=''>Select...</option>
					{{#each groups}}
						<option value='{{_id}}' {{#if groupProduct _id}} selected='true' {{/if}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class='line-3'>
			<div>
				<label class="required">Product Image:</label>
				<input type="file" name="productImage" id="productImage" {{#if isNew}} required {{/if}}>
			</div>

			<div>
				<label>
		    		Featured
		    		<input id="featuredProduct" type="checkbox" {{#if product.featured}} checked {{/if}} class="ace ace-switch ace-switch-6">
		    		<span class='lbl'></span>
		    	</label>
			</div>

			<div>
				<label>
		    		Active
		    		<input id="activeProduct" type="checkbox" {{#if product.active}} checked {{/if}} class="ace ace-switch ace-switch-6">
		    		<span class='lbl'></span>
		    	</label>
			</div>
		</div>
		<button id="saveProduct" class='btn btn-success btn-small' form="productForm">
			Save Trip
		</button>
	</form>

	<div class="tabbable" id='productTabs'>
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#tripsProduct" sytle="z-index: 0;">
					<i class="blue icon-file bigger-110"></i>
					Trips
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#pricesProduct" sytle="z-index: 0;">
					<i class="blue icon-money bigger-110"></i>
					Prices
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="tripsProduct" class="tab-pane in active">
				<fieldset id="tripField">
				<legend>Trips
					<span>&nbsp;&nbsp;</span>
					<i class='icon-anchor'/>
				</legend>

				<form id="tripForm" novalidate>
					<div class="line-3">
						<div>
							<label class="required">From:</label>
							<input type="text" name="from" id="from" placeholder="From" required>
						</div>

						<div>
							<label>To:</label>
							<input type="text" name="to" id="to" placeholder="To">
						</div>
						
						<div>
							<div class="input-append bootstrap-timepicker">
								<label class="required">Hour:</label>
								<input type="text" name="hour" id="hour" class="input-small" required/>
								<span class="add-on">
									<i class="icon-time"></i>
								</span>
							</div>
						</div>
					</div>

					<label>
			    		Available on Seasons:
			    		<input id="seasonsCheckbox" type="checkbox" checked='checked' class="ace ace-switch ace-switch-6">
			    		<span class='lbl'></span>
			    	</label>

					<div class='line-3' id='SeasonSelect'>
						<div>
							<label name='season' id='tripSeason' class="required">Season:</label>
							<select required id='season'>
								<option selected value =''>Select...</option>
								<option value="summer">Summer</option>
								<option value="winter">Winter</option>
							</select>
						</div>
					</div>

					<div class='line-3' id='dateRangeSelect'>
						<div>
							<label name='season' id='starDate' class="required">Start Date:</label>
							<input type='text' class='datepicker' id='dateStart'>
						</div>
						<div>
							<label name='season' id='endDate' class="required">End Date:</label>
							<input type='text' class='datepicker' id='dateEnd'>
						</div>
					</div>
				
					<input type="submit" id="addTrip" class='btn btn-info btn-small' value="Add Trip" />
				</form>

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Hour</th>
							<th>Season</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Active</th>
						</tr>
					</thead>
					
					<tbody>
						{{#each trips}}
							<tr>
								<td>{{from}}</td>
								<td>{{to}}</td>
								<td>{{hour}}</td>
								<td>{{seasonName season}}</td>
								<td>{{datesBegin  season}}</td>
								<td>{{datesEnd season}}</td>
								<td>
									{{#if active}}
										<a class="removeTrip" id="{{_id}}"><i class='icon-check'></i></a>
									{{else}}
										<a class="removeTrip" id="{{_id}}"><i class='icon-check-empty'></i></a>
									{{/if}}
								</td>
							</tr>
						{{/each}}	
					</tbody>
				</table>
			</fieldset>
			</div>

			<div id="pricesProduct" class="tab-pane in">
				<fieldset id="priceField">
				<legend>Prices<span>&nbsp;&nbsp;</span><i class='icon-money'/></legend>

				<form id="priceForm" novalidate>
					<div class="line-3">
							<div>
								<label class="required">Price:</label>
								<input type="text" name="price" id="price" placeholder="Price" required>
							</div>

							<div>
								<label class="required">Per unit:</label>
								<input type="number" name="unit" id="unit" placeholder="Per unit" required>
							</div>

							<div>
								<label name='season' id='priceSeason' class="required">Season:</label>
								<select required id='season'>
									<option selected value =''>Select...</option>
									<option value="summer">Summer</option>
									<option value="winter">Winter</option>
									<option value='both'>Both</option>
								</select>
							</div>
					</div>

					<input type='submit' id="addPrice" class='btn btn-info btn-small' value="Add Price">
				</form>

				<table id="tablePrice" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Price</th>
							<th>Per Unit (ISK)</th>
							<th>Season</th>
							<td>Active</td>
						</tr>
					</thead>
					
					<tbody>
						{{#each prices}}
							{{> price}}
						{{/each}}	
					</tbody>
				</table>
			</fieldset>
			</div>
		</div>
	</div>
</template>

<template name="price">
	<tr>
		<td>
			{{price}}
		</td>
		<td>
			{{unit}}
		</td>
		<td>
			{{season}}
		</td>
		<td>
			{{#if active}}
				<a class="removePrice" id="{{_id}}"><i class='icon-check'></i></a>
			{{else}}
				<a class="removePrice" id="{{_id}}"><i class='icon-check-empty'></i></a>
			{{/if}}
		</td>
	</tr>	
</template>