<template name='header'>
	<header class="header">
	  	<div class='limit relative' style='float:left;'>
		  	<a id='id-logo' class="logo-menu"><img src='/images/logo-en.png'></a>
		</div>
			<div style="margin-right:3%; padding-top:3%; text-align:right; color: white">
				<span class="profile">LOGGED AS: {{loginName}} </span>
			{{#if loggedAsUser}}
				{{#if loggedIn}}
				{{else}}
				<a class="myBookings orangeButton">
				MY BOOKINGS
				</a>
				{{/if}}

				<a class="cbasket orangeButton">
				BASKET - {{totalItems}}
				</a>
				{{#if loggedIn}}
					<a id="loginLink" class="orangeButton">SIGN IN</a>
					<br />
					<div id="loginArea" style='float:right;'>
						{{> login}}
						<br />
						<div style="text-align: center;">
							<span style="color: black; letter-spacing:-2px;">-------------------- O R --------------------</span>
							<br />
							<a id="createUser" class="orangeButton"> Create New User</a>
						</div>
					</div>

				{{else}}
					<a class="logoff orangeButton">LOG OFF</a>				
				{{/if}}
			
			{{/if}}
			</div>

		<div style='clear:both;'></div>
	</header>
</template>
