<template name='header'>
	<header class="header">
	  	<div class='limit relative' style='float:left;'>
		  	<a id='id-logo' class="logo-menu" href="/"><img src='/images/logo-en.png'></a>
		</div>
		{{#if loggedIn}}
		<div style="margin-right:3%; text-align:right;">	
			<div>
				<a id="loginLink">SIGN IN</a>
			<div>
			<div id="loginArea" style='float:right;'>
				{{> login}}
			</div>
		</div>
		{{/if}}
		{{#if loggedAsUser}}
			<div style="margin-right:3%; text-align:right;">
				<span class="profile">LOGGED AS: {{loginName}} | </span>
				<a class="logout">LOG OFF</a>
			</div>
			<div>
				CART ▾
			</div>
		{{/if}}
		<div style='clear:both;'></div>
	</header>
</template>
