<template name='header'>
	<header class="header">
	  	<div class='limit relative' style='float:left;'>
		  	<a id='id-logo' class="logo-menu" href="/"><img src='/images/logo-en.png'></a>
		</div>
			<div style="margin-right:3%; padding-top:3%; text-align:right; color: white">
				<span class="profile">LOGGED AS: {{loginName}} </span>
			{{#if loggedAsUser}}
				<span> | </span>
				<a class="cbasket">
				BASKET
				</a>
				<span> | </span>
				{{#if loggedIn}}
					<a id="loginLink">SIGN IN</a>
					<div id="loginArea" style='float:right;'>
						{{> login}}
					</div>
				{{else}}
					<a class="logoff">LOG OFF</a>				
				{{/if}}
			
			{{/if}}
			</div>
			
		<div style='clear:both;'></div>
	</header>
</template>
