<template name="vehicles">
	<div class="page-header">
		<h1>
			Vehicles
		</h1>
	</div><!-- /.page-header -->
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a data-toggle="tab" href="#vehiclesCategoryEdit" sytle="z-index: 0;">
					<i class="blue icon-money bigger-110"></i>
					Categories
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#pre_registerVehicles" sytle="z-index: 0;">
					<i class="blue icon-truck bigger-110"></i>
					Pre-Register Vehicles
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="vehiclesCategoryEdit" class="tab-pane in active">
				{{> vehiclesCategoryEdit}}
			</div>

			<div id="pre_registerVehicles" class="tab-pane in">
				{{> preRegisterVehicles}}
			</div>
		</div>
	</div>
</template>
<template name="preRegisterVehicles">

	<div class="page-header">
		<h1>
			Pre Register
		</h1>
	</div><!-- /.page-header -->

	<form novalidate>
		<div class="line-3">
			<div>
				<label class="required">Name: </label>
				<input type="text" name="model" id="model" placeholder="Model" required>
			</div>
		</div>

		{{> categoryVehicle}}

		<input type="submit" value="Save Vehicle" class="btn btn-small btn-success">		
	</form>
</template>

<template name="vehiclesCategoryEdit">
	<div class="page-header">
		<h1>
			Categories
		</h1>
	</div><!-- /.page-header -->
	<table class='table table-striped table-bordered table-hover'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Sizes</th>
				<th title='Price of the Base Size'>Base Price</th>
				<th>Base Size</th>
				<th title="Value added for each meters more than Base Size">Step</th>
				<th title="Discounted for each meter less than Base Size?">Step on Reduce</th>
			</tr>
		</thead>
		<tbody>
			{{#each categories}}
				<tr>
					<th>{{category}}</th>
					<th>{{size}}</th>
					<th>{{basePrice}} ISK</th>
					<th>{{baseSize}}m</th>
					<th>{{step}} ISK</th>
					<th>{{#if onReduce}} Yes {{else}} No {{/if}}</th>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="category">
	<option value="{{category}}" id="{{_id}}">{{category}}</option>
</template>

<template name="sizes">
	<option value="{{this}}">{{this}}m</option>
</template>

<template name="categoryVehicle">
	<div class="line-3">
		<div>
			<label class="required">Category: </label>
			<select name="categories" id="categories" required>
				<option value="">Select..</option>
				{{#each categories}}
	    			{{> category}}	
	    		{{/each}}
			</select>
		</div>

		<div>
			<label class="required">Size: </label>
			<select name="size" id="size" required>
				<option value=""></option>
				{{#each sizes}}
	    			{{> sizes}}	
	    		{{/each}}
			</select>
		</div>
	</div>
</template>