<template name="vehicles">
	<div class="page-header">
		<h1>
			Vehicles
		</h1>
	</div><!-- /.page-header -->

	<form>
		<label>Brandname:</label>
		<input type="text" name="brandname" id="brandname" placeholder="Brandname">

		<label>Model:</label>
		<input type="text" name="model" id="model" placeholder="Model">

		{{> categoryVehicle}}

		<input type="submit" value="Save Vehicle" class="btn btn-small btn-success">		
	</form>
</template>

<template name="category">
	<option value="{{category}}" id="{{_id}}">{{category}}</option>
</template>

<template name="sizes">
	<option value="{{this}}">{{this}}m</option>
</template>

<template name="categoryVehicle">
		<div class="line-2">
			<div>
				<label>Category:</label>
				<select name="categories" id="categories">
					<option value="">Select..</option>
					{{#each categories}}
		    			{{> category}}	
		    		{{/each}}
				</select>
			</div>

			<div>
				<label>Size: </label>
				<select name="size" id="size">
					<option value=""></option>
					{{#each sizes}}
		    			{{> sizes}}	
		    		{{/each}}
				</select>
			</div>
		</div>
</template>