<template name='externalLogin'>
	<div class="page-header">
		<h1>
			Login Area
		</h1>
	</div><!-- /.page-header -->
	<div class='line-2'>
		<div>
			<div class='widget-box'>
				<div class='widget-header'>
					<h4>I'm Seatours Customer</h4>
				</div>
				<div class='widget-body'>
					<div class='widget-main'>
						<label>Username</label>
						<input type='text' id='customerUsername'/>
						<span class='help-block'>You can also use your email here.</span>
						<label>Password</label>
						<input type='text' id='customerPassword'/>
					</div>
					<div class='form-actions center'>
						<button type='button' class='btn btn-sn btn-success continueLogged'>
							Login & Continue
							<i class='icon-arrow-right icon-on-right bigger-110'></i>
						</button>	
					</div>	
				</div>
			</div>		
		</div>
		<div>
			<div class='widget-box'>
				<div class='widget-header'>
					<h4>I want to be a customer to buy o Seatours<h4>
				</div>
				<div class='widget-body'>
					<div class='widget-main'>
						<label>Full Name</label>
						<input type='text' id='customerFullname'/>
						<span class='help-block'>Please provide your full name.</span>
						<label>Email</label>
						<input type='text' id='customerEmail'/>
					</div>
					<div class='form-actions center'>
						<button type='button' class='btn btn-sn btn-info continueCreate'>
							Continue
							<i class='icon-arrow-right icon-on-right bigger-110'></i>
						</button>	
					</div>	
				</div>
			</div>
		</div>
	</div>
</template>