<template name='mainMenu'>
    {{> header}}
    <br/>      
    <div class="container-fluid" id="main-container">
        <a id="menu-toggler" href="#">
            <span></span>
        </a>

        <div id="sidebar">
            <div id="sidebar-shortcuts">
                <div id="sidebar-shortcuts-large">
                    <button class="btn btn-small btn-success">
                        <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-small btn-info">
                        <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-small btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-small btn-danger logout" title='Logoff'>
                        <i class="icon-off"></i>
                    </button>
                </div>

                <div id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger" title='Logoff'></span>
                </div>
            </div><!--#sidebar-shortcuts-->

            <ul class="nav nav-list">

                <li>
                    <a href='/createBook'>
                        <i class="icon-dashboard"></i>
                        <span>Book</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-cogs"></i>
                        <span>Trips</span>
                        <b class="arrow icon-angle-down"></b>   
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                Elements
                            </a>
                        </li>

                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i>
                                Buttons &amp; Icons
                            </a>
                        </li>

                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i>
                                Treeview
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="icon-text-width"></i>
                        <span>Reports</span>
                    </a>
                </li>

                <div id="sidebar-collapse">
                    <i class="icon-double-angle-left"></i>
                </div>
            
            </ul><!--/.nav-list-->
        </div>

        <div id="main-content" class="clearfix">
            <div id="page-content" class="clearfix">
                {{renderPage}}
                <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
                    <i class="icon-double-angle-up icon-only bigger-110"></i>
                </a>
            </div>
        </div>
    </div>
</template>