<template name='externView'>
	<div class="firstPage">
		<form id="myWizard"  type="get" action="" class="form-horizontal">
		    <section class="step" data-step-title="Find your trip">
		        <div class="control-group">
		            <label class="control-label" for="inputBoat">Boat</label>
		            <div class="controls">
		                <select>
		                	<option selected disabled>Choose One</option>
		                	<option>Baldur Ferry</option>
		                </select>
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label" for="inputDate">Date</label>
		            <div class="controls">
		                <div class="datepicker"></div>
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label" for="inputTrip">Trip</label>
		            <div class="controls">
		                <select>
		                	<option selected disabled>Choose One</option>
		                	<option>Bermudas-Caicó 18:00</option>
		                </select>
		            </div>
		        </div>
		    </section>
		    <section class="step" data-step-title="Fill your data">
		        <div class="control-group">
		           {{> createBook}}
		        </div>
		    </section>
		    <section class="step" data-step-title="Choose how to pay">
		        <div class="control-group">
		            PAYMENT AREA
		        </div>
		    </section>
		</form>
	</div>
</template>