<template name='finishBookCustomer'>
	<div class="page-header">
		<h1>
			Confirm Your Data
		</h1>
	</div>
	<div>
	{{#if customerLogged}}
	<fieldset>
		<legend>Personal Info<span>&nbsp;&nbsp;</span><i class='icon-user'/></legend>

		<label>Name: </label>{{customerName}}
		<label>Email: </label>{{customerEmail}}
		<label>Telephone: </label>{{customerTelephone}}
		<label>Adress: </label>{{customerAddress}}
	</fieldset>
	{{else}}
		{{> externalGeneralPassagerInfo}}
	{{/if}}

	</div>
	<div class='center'>
		<button class='btn btn-info' id='finishBuyBookingCustomer'>Procced to Payment</button>
	</div>
</template>
