<template name="myBookings">

	<div class="page-header">
			<h1>
				My Orders
			</h1>
	</div>
	<fieldset>
		<table class='table table-striped table-bordered table-hover' id='allBookings'>
			<thead>
				<tr>
					<th>Id</th>
					<th>Date of Order</th>
					<th>Paid</th>
					<th>Actions</th>
				</tr>
			</thead>
				<tbody>
					{{#each bookings}}
						<tr>
							<td>{{refNumber}}</td>
							<td>{{date dateOrder}}</td>
							<td>{{#if paid}} Yes {{else}} No {{/if}}</td>
							<td>
								<a class="details btn btn-mini btn-info" title='Details' rel='{{refNumber}}'>
									<i class='icon-pencil'></i>
								</a>
								{{#if paid}}
								{{else}}
								<a class="payOrder btn btn-mini btn-success" title='Pay' rel='{{refNumber}}'>
									<i class='icon-money'></i>
								</a>
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
		</table>
	</fieldset>	

</template>